/* common */
html{font-size:62.5%;}
body{overflow-x:hidden;}
.wrap{width:100%;max-width:1200px;margin:0 auto;}
.flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.flex>.cell{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;        /*padding: 0!important;*/position:relative}
.flex>.cell.fixed{-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:auto}

/* index_page */
#overflow{border:1px solid #000;overflow-x:scroll;overflow-y:hidden;}
#overflow .container .cnt a{float:left;width:60px;float:left;}
@media only screen and (max-width:1024px){
    #overflow{width:480;height:60px;}
    #overflow .container .cnt a{height:45px;}
}
@media only screen and (max-width:768px){
    #overflow{width:480;height:60px;}
    #overflow .container .cnt a{height:45px;}
}
@media only screen and (max-width:480px){
    #overflow{width:480;height:35px;}
    #overflow .container .cnt a{height:20px;}
}
@media only screen and (max-width:320px){
    #overflow{width:320;height:35px;}
    #overflow .container .cnt a{height:20px;}
}
.site-nav{height:78px;overflow:hidden;}
.site-nav .wrap{position:relative;}
.site-nav h1{position:absolute;width:0;height:0;top:12px;left:22px;padding:55px 0 0 224px;overflow:hidden;background:url(../images/logo.png);}
.site-nav .nav-list{position:relative;max-width:100%;float:right;z-index:999;overflow-x:scroll;background:#fff;}
.site-nav .nav-list ul{height:90px;}
.site-nav .nav-list li{float:left;height:78px;line-height:74px;font-size:16px;}
.site-nav .nav-list li a{display:block;padding:0 18px;color:#000;border-top:4px solid transparent;}
.site-nav .nav-list li a:hover{color:#0082a3;background:#f9f9f9;}
.site-nav .nav-list li.cur a{color:#fff;border-top:4px solid #0082a3;background:#4f4f4f;}
.mainContent h2{font-size:3.6rem;text-align:center;line-height:1.5em;margin-top:40px;}
.sub-title{font-size:1.6rem;padding:0 10px;margin-top:1rem;text-align:center;}
.g-solution .bd{margin-top:10px;overflow:hidden;}
.g-solution .bd ul li{float:left;width:16%;height:251px;text-align:center;margin:40px 8.666666666666666% 0;}
.g-solution .bd ul li .u-sign{position:relative;width:71.27659574468085%;display:inline-block;}
.g-solution .bd ul li .u-sign .u-bg{position:absolute;width:100%;height:100%;left:0;top:0;-webkit-transition:linear .3s;-o-transition:linear .3s;transition:linear .3s;background:url(../images/bg-icon-solu.png);background-size:100%;}
.g-solution .bd ul li:hover .u-sign .u-bg{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);background:url(../images/bg-icon-soluHover.png);background-size:100%;}
.g-solution .bd ul li img{position:relative;width:100%;vertical-align:middle;z-index:999;}
.g-solution .bd ul li:hover img{}
.g-solution .bd ul li h3{font-size:1.8rem;margin-top:1em;padding:10px 0;color:#292d31;font-weight:bold;}
.g-solution .bd ul li:hover h3{color:#376fb0;}
.g-solution .bd ul li h3:hover,.g-solution .bd ul li h3:active{color:#376fb0;}
.g-solution .bd ul li p{font-size:1.4rem;line-height:1.5em;text-align:left;text-indent:1em;color:#7f7f7f;}
.g-advantage{height:454px;margin-top:40px;padding-bottom:4rem;background:#24676b;overflow:hidden;}
.g-advantage .wrap{max-width:992px;}
.g-advantage h2,.g-advantage .sub-title{color:#fff;}
.g-advantage .bd{margin-top:40px;}
.g-advantage .bd ul li{cursor:default;float:left;width:21.57258064516129%;text-align:center;margin:0 1.7137096774193559%;padding:0 2% 3%;box-sizing:border-box;background:#fff;}
.g-advantage .bd ul li:hover{margin-top:-2px;}
.g-advantage .bd ul li img{width:40%;margin-top:-4px;background:#343638;border:2px solid #fff;-webkit-transition:linear .2s;-o-transition:linear .2s;transition:linear .2s;}
.g-advantage .bd ul li:hover img{background:#ba0000;}
.g-advantage .bd ul li h3{font-size:1.8rem;padding:20px 0;border-bottom:1px solid #eaeaea;}
.g-advantage .bd ul li:hover h3{color:#ba0000;}
.g-advantage .bd ul li h3:hover{color:#ba0000;}
.g-advantage .bd ul li p{color:#7f7f7f;margin-top:20px;font-size:1.4rem;line-height:1.5em;text-align:left;}
.g-aboutUs .bd{margin:40px 0;overflow:hidden;}
.g-aboutUs .m-cxt{float:left;width:42%;margin-right:2%;margin-top:40px;margin-left:10px;}
.g-aboutUs .m-cxt h3{font-size:3rem;line-height:2em;margin-bottom:40px;}
.g-aboutUs .m-cxt h3 em{display:inline-block;font-size:4.8rem;color:#003deb;}
.g-aboutUs .m-cxt p{font-size:14px;margin:1em 10px 0;line-height:1.5em;}
.g-aboutUs .m-picWrap{overflow:hidden;}
.g-aboutUs .m-picWrap ul li{float:left;        /* margin: 10px; */width:33.33%;text-align:center;padding:10px;box-sizing:border-box;}
.g-aboutUs .m-picWrap ul li img{width:100%;}
.g-aboutUs .m-picWrap ul li:hover img{-webkit-transition:linear .2s;-o-transition:linear .2s;transition:linear .2s;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.g-ourAdvantage{overflow:hidden;padding-bottom:60px;background:url(../images/bg-ourAdv.jpg) repeat center top;}
.g-ourAdvantage .wrap{max-width:942px;}
.g-ourAdvantage .bd{margin-top:40px;}
.g-ourAdvantage ul li{float:left;width:33.3333%;text-align:center;}
.g-ourAdvantage ul li>img{width:100%;}
.g-ourAdvantage ul li .m-txt{position:relative;background:#fd7237;padding:20px 10%;color:#fff;}
.g-ourAdvantage ul li .m-txt h3{font-size:3rem;padding:14px 0;}
.g-ourAdvantage ul li .m-txt p{text-align:left;font-size:1.4rem;line-height:1.2em;text-indent:1em;}
.g-ourAdvantage ul li .m-txt:after{position:absolute;content:'';border-left:14px solid transparent;border-right:14px solid transparent;border-top:14px solid #fd7237;left:50%;bottom:-14px;margin-left:-14px;}
.g-ourAdvantage ul li.second .m-txt{background:#2088be;}
.g-ourAdvantage ul li.second .m-txt:after{border-top:14px solid #2088be;}
.g-ourAdvantage ul li.third .m-txt{background:#ecffd8;}
.g-ourAdvantage ul li.third .m-txt h3{color:#292d31;}
.g-ourAdvantage ul li.third .m-txt p{color:#7f7f7f;}
.g-ourAdvantage ul li.third .m-txt:after{bottom:auto;top:-28px;border-bottom:14px solid #ecffd8;border-top:14px solid transparent;}
.g-focus{color:#fff;background:#000;}
.g-focus .wrap{max-width:942px;padding:40px 0;overflow:hidden;}
.g-focus ul li{float:left;width:33.33%;box-sizing:border-box;padding:0 8px;}
.g-focus ul li h3{font-size:1.8rem;line-height:3em;}
.g-focus ul li .item{font-size:1.4rem;margin-top:14px;}
.g-focus ul li .item a,.g-focus ul li .item span{display:block;line-height:2em;}
.g-focus ul li .item a:hover{color:#376fb0;}
.g-copyright{height:50px;line-height:50px;text-align:center;color:#fff;background-color:#3f3f3f;}

/* platformBuild */
.platform-banner img{width:100%;}
.g-plat-advant{padding:3rem 0;background:#007a76;}
.g-plat-advant ul{        /*margin-top: 14rem;*/
overflow:hidden;}
.g-plat-advant ul li{color:#fff;text-align:center;padding:0 7rem;}
.g-plat-advant ul li h3{font-size:2.4rem;padding:1rem 0;}
.g-plat-advant ul li p{line-height:1.6em;font-size:1.4rem;}
.g-plat-advant ul li img{width:54%;max-width:102px;}
.hd-platTitle{position:relative;text-align:center;}
.hd-platTitle .u-title{padding:8rem 0;text-align:center;}
.hd-platTitle h2{position:relative;display:inline-block;line-height:1em;font-size:2.2rem;padding:1.2rem 5rem;border:1px solid #eee;background:#fff;z-index:99;margin-top:0;}
.hd-platTitle .u-line{position:absolute;width:100%;height:1px;left:0;top:50%;background:#eee;}
.hd-platTitle .bg-txt{position:absolute;width:100%;top:50%;text-align:center;font-size:9rem;color:#eee;margin-top:-4.5rem;letter-spacing:.2rem;z-index:9;}
.hd-platTitle .bg-txt span{display:inline-block;position:relative;background:#fff;        /*top: -4.5rem;*/}
.g-platFun{        /*padding-bottom: 4rem;*/}
.g-platFun .bd{        /*margin-top: 4rem;*/}
.m-desTxt{padding:0 1rem;}
.m-desTxt p{font-size:1.5rem;line-height:2em;text-align:center;}
.g-platFun .bd{padding:4rem;margin-top:4rem;background:#381535;}
.g-platFun ul{overflow:hidden;}
.g-platFun ul li{float:left;width:25%;height:300px;color:#fff;padding:4% 6%;text-align:center;box-sizing:border-box;}
.g-platFun ul li img{width:80%;max-width:128px;}
.g-platFun ul li h3{font-size:1.8rem;padding:1rem 0;}
.g-platFun ul li p{font-size:1.4rem;line-height:1.5rem;}
.g-levelList{padding-bottom:6rem;}
.g-levelList .wrap{padding:0 5%;box-sizing:border-box;}
.g-levelList ul li{overflow:hidden;margin-top:5rem;}
.g-levelList ul li img{float:left;width:22%;max-width:110px;margin-right:6%;}
.g-levelList ul li h3{font-size:3.2rem;color:#e50a0a;padding:1rem 0;}
.g-levelList ul li:nth-child(2) h3{color:#0086d3;}
.g-levelList ul li:nth-child(3) h3{color:#6300a2;}
.g-levelList ul li .cnt{overflow:hidden;}
.g-levelList ul li .cnt p{font-size:1.6rem;color:#6a6a6a;line-height:1.5em;margin-top:1em;}
.g-contact{background:#000;padding:4rem 0;}
.g-contact .hd-platTitle .bg-txt span{background:#000;}
.g-contact .m-desTxt p{font-size:2.2rem;color:#fff;line-height:1.5em;}
.btn-default{display:inline-block;padding:.8rem 5rem;color:#fff;font-size:2.2rem;background:#26a5d0;box-sizing:border-box;border-radius:4px;}
.m-btn{text-align:center;margin-top:4rem;}
.g-focus-white{color:#3f3f3f;background:#eaeaea;}

/* financial */
.u-imgFull{width:100%;}
.g-regulat-partm{padding-top:10rem;background:#fff url(../images/bg-tag.png) no-repeat right top;background-size:50%;overflow:hidden;}
.g-regulat-partm .u-sign{display:inline-block;width:10rem;height:10rem;line-height:10rem;border-radius:50%;font-size:5.8rem;color:#fff;background:#e43d3b;}
.g-regulat-partm ul li{padding:0 2rem;color:#000;}
.m-partMsg{position:relative;font-size:2rem;line-height:1.5em;color:#fff;overflow:hidden;text-align:right;padding:2rem;}
.g-partm{        /*background: url(../images/bg-tag2.png) no-repeat center top;*/
background-size:100%;}
.g-partm{padding:4rem 0 12rem;}
.g-partm .modOne,.g-partm .modThree{font-size:2.4rem;color:#fff;text-align:right;        /*margin-top: 10rem;*/padding:2rem 4rem;}
.g-partm .modTwo,.g-partm .modFour{font-size:2.4rem;color:#fff;text-align:left;margin-top:4rem;padding:2rem 6rem;}
.g-partm .modThree{text-align:left;color:#000;}
.g-partm .modTwo .sign,.g-partm .modFour .sign{float:left;display:inline-block;font-size:7rem;color:#fff;width:14rem;height:14rem;line-height:14rem;text-align:center;border-radius:50%;background:red;margin-right:2rem;}
.g-partm .modFour{color:#000;}
.g-partm .modFour .sign{float:right;margin-left:2rem;}
.g-partm .modTwo .cnt,.g-partm .modFour .cnt{overflow:hidden;}
.g-partm .modFour .cnt{text-align:right;}
.g-partm .modTwo .cnt h3,.g-partm .modFour .cnt h3{font-size:3rem;}
.g-partm .modTwo .cnt p,.g-partm .modFour .cnt p{font-size:1.6rem;line-height:2rem;margin-top:3rem;}
.g-partmTwo{background:#000 url(../images/bg-fina2.png) no-repeat center top;background-size:100%;padding-bottom:0;}
.g-partmTwo .modCenter{text-align:center;margin-top:6rem;}
.g-partmTwo .modTwo,.g-partmTwo .modThree{float:left;width:50%;text-align:center;box-sizing:border-box;}
.g-partmTwo .middle .sign{float:none;font-size:5.8rem;width:10rem;height:10rem;line-height:10rem;}
.g-partmTwo .middle h3{font-size:2.4rem;margin-top:2rem;}
.g-partmTwo .middle p{font-size:1.4rem;text-align:left;}
.g-partmTwo img{width:100%;}
.g-partmTwo .m-second{background:#323c3d;}
.g-partmTwo .m-second .modOne{margin-top:0;}
.g-partmTwo .m-second .modFour{color:#fff;}
.g-partmTwo .m-second .modFour .cnt{border:1px solid #4f5858;padding:2rem;}
.g-partmTwo .m-second .modFour h3{font-size:2.4rem;}
.g-partmTwo .m-second .modFour p{font-size:1.4rem;}
.g-partmThree{padding-top:8rem;margin-top:0;background:#f5f5f5 url(../images/bg-fina4.png) no-repeat center top;background-size:100%;}
.g-partmThree .modFive{width:100%;margin:0;padding:5rem 2rem;box-sizing:border-box;text-align:left;color:#000;}
.g-partmThree .modFive .cnt h3{font-size:2.4rem;}
.g-partmThree .modFiv .cnt p{font-size:1.4rem;}

/* website */
.g-ws-fast{padding-bottom:4rem;}
.g-ws-fast .sub-title{max-width:676px;margin:0 auto;color:#001f6f;line-height:1.5em;}
.g-ws-fast .hd{max-width:780px;margin:2rem auto;}
.g-ws-fast .hd ul li{text-align:center;}
.g-ws-fast .hd ul li p{margin-top:1rem;}
.g-ws-fast .bd{position:relative;}
.g-ws-fast .u-cpt{position:absolute;width:100%;left:0;top:0;text-align:center;}
.g-ws-fast .u-cpt img{width:50%;}
.g-ws-fast ul{overflow:hidden;}
.g-ws-fast ul li:first-child{float:left;}
.g-ws-fast ul li:nth-child(2){float:right;}
.g-ws-fast ul li{width:25%;text-align:center;box-sizing:border-box;padding:0 6%;}
.g-ws-fast ul li .item{margin-top:2rem;}
.g-ws-fast ul li p{margin-top:1rem;font-size:1.4rem;line-height:1.5em;}
.g-exp{position:relative;margin-top:4rem;padding-bottom:4rem;color:#fff;background:#000;overflow:hidden;}
.g-exp:after{position:absolute;top:0;left:50%;margin-left:-16px;content:'';border-left:16px solid transparent;border-right:16px solid transparent;border-top:16px solid #fff;}
.g-exp ul{overflow:hidden;}
.g-exp ul li{float:left;width:50%;box-sizing:border-box;margin-top:3rem;padding:0 2rem;}
.g-exp ul li img{float:left;width:20%;margin-right:1rem;}
.g-exp ul li .cnt{margin-top:1rem;overflow:hidden;}
.g-exp ul li h3{font-size:2.4rem;padding:1rem 0;}
.g-exp ul li p{font-size:1.4rem;line-height:1.5rem;}
.g-net{padding:4rem 0;}
.g-net .mainPic{width:80%;}
.g-net .cell{padding:2rem;box-sizing:border-box;}
.g-net .cell:first-child{text-align:center;}
.g-net .cell.u-txt h3{display:inline-block;font-size:3rem;vertical-align:middle;}
.g-net .cell.u-txt p{font-size:1.4rem;line-height:2em;}
.g-net .cell.u-txt p em{font-size:2rem;color:#0690db;}
.g-net .u-link{display:inline-block;padding:0 1rem;color:#88beed;border:1px solid #88beed;border-radius:20px;margin-right:10px;margin-top:2rem;}
.g-net .u-link-dark{color:#fff;background:#88beed;}

/* options */
.g-opts-adv{padding-bottom:4rem;}
.mainContent .g-opts-adv h2{font-size:5.8rem;line-height:1.5em;}
.g-opts-adv .hd-platTitle h3{position:relative;display:inline-block;border:none;padding:1.2rem 2rem;background:#fff url(../images/bg-line-red.jpg) no-repeat center bottom;z-index:999;}
.g-opts-adv .hd-platTitle .u-title{padding:0;}
.g-opts-adv .bd{margin-top:4rem;}
.g-opts-adv .bd ul{overflow:hidden;}
.g-opts-adv .bd ul li{float:left;height:130px;width:33.33333%;padding-bottom:1rem;}
.g-opts-adv .bd ul li img{float:left;padding:1.5rem 2rem;}
.g-opts-adv .bd ul li .cnt{overflow:hidden;margin-right:1rem;}
.g-opts-adv .bd ul li .cnt h3{position:relative;font-size:2.6rem;padding:1rem 0;        /*background: url(../images/bg-line-grey.jpg) no-repeat left bottom;*/}
.g-opts-adv .bd ul li .cnt h3 .line{position:absolute;width:52px;height:2px;left:0;bottom:0;background:#bbb;}
.g-opts-adv .bd ul li:hover .cnt h3 .line{background:#fff;}
.g-opts-adv .bd ul li .cnt p{font-size:1.2rem;color:#bbb;margin-top:1rem;line-height:1.2rem;}
.g-opts-adv .bd ul li:hover p{color:#fff;}
.g-opts-adv .bd ul li:hover{background:#9c221f;color:#fff;}
.mainContent .g-contact-2 h2{font-size:4rem;color:#fff;}
.g-contact-2 .btn1,.g-contact-2 .btn2{display:inline-block;font-size:1.8rem;padding:1.5rem 4rem;background:#fff;border-radius:4px;margin:0 .5rem;}
.g-contact-2 .btn2{color:#fff;background:#2d3e50;}
.g-contact-2 .tel{text-align:center;font-size:4rem;color:#fff;margin-top:2rem;}
.g-contact-2 .tel em{font-size:5.4rem;}

/* trad */
.g-trad-tra{padding:4rem 0;box-shadow:0 0 20px #ccc;}
.g-trad-tra ul li{text-align:center;}
.g-trad-tra ul li img{max-width:66%;}
.g-trad-tra ul li .txt1{padding:1rem 0;}
.g-trad-tra ul li .txt1 em{color:#ff0000;font-size:4rem;}
.g-trad-tra ul li .txt2{font-size:2.4rem;color:#006493;}
.g-trad-qus h2{color:#0f86cb;font-size:4.2rem;}
.g-trad-qus .sub-title{line-height:1.5em;margin-top:1rem;}
.g-trad-step{padding:0 10px 4rem;}
.g-trad-step h3{margin:4rem 0 0;}
.g-trad-step ul li.fixed{width:3%!important;max-width:23px;padding-top:2rem;}
.g-trad-step ul li.fixed img{width:100%;margin-right:0;}
.g-trad-step ul li{padding:1rem .1rem;text-align:center;}
.g-trad-step ul li>img{float:none;width:50%;margin-right:0;}
.g-trad-step ul li .cnt em{float:left;font-size:3rem;margin-right:.2rem;}
.g-trad-step ul li .cnt p{overflow:hidden;text-align:left;}
.g-opera{padding-bottom:4rem;}
.g-opera h2{font-size:6rem;padding:2rem 0;}
.g-opera .sub-title{font-size:2rem;line-height:1.5em;}

/* register */
.g-regstTerms{padding:0 1rem 4rem 1rem;}
.g-regstTerms .hd{position:relative;height:61px;color:#be0000;padding-left:140px;border-top:1px solid #b70609;margin-top:4rem;background:url(../images/bg-title.png) no-repeat left top;}
.g-regstTerms .hd.britain{color:#0087d4;border-color:#0087d4;background:url(../images/bg-title2.png) no-repeat left top;}
.g-regstTerms .hd.britain .line{background:#0087d4;}
.g-regstTerms .hd.hk{color:#00962a;border-color:#00962a;background:url(../images/bg-title3.png) no-repeat left top;}
.g-regstTerms .hd.hk .line{background:#00962a;}
.g-regstTerms h2{font-size:3.2rem;text-align:left;margin-top:0;line-height:1.5em;}
.g-regstTerms .hd .line{position:absolute;width:100%;height:1px;left:-100%;top:59px;background:#b70609;}
.g-regstTerms span{font-size:2rem;}
.g-regstTerms .bd dl dt{font-size:1.6rem;font-weight:bold;margin-top:2rem;}
.g-regstTerms .bd dl dd{font-size:1.4rem;margin-top:1rem;line-height:1.5em;}

/* aboutUs */
.g-profile{color:#fff;background:url(../images/bg-aboutUs.jpg) no-repeat left top;background-size:100%;overflow:hidden;}
.g-profile .hd{width:80%;margin:4rem auto;text-align:center;padding-bottom:2rem;color:#fff;border:2px solid #fff;}
.g-profile .hd h2{font-size:5rem;margin:0;}
.g-profile .hd p{font-size:2.6rem;}
.g-profile .sub-title{width:80%;margin:1rem auto;font-style:1.4rem;line-height:1.5em;}
.g-profile ul{width:80%;margin:6rem auto;overflow:hidden;}
.g-profile ul.menu li{float:left;width:25%;text-align:center;color:#fff;}
.g-profile ul.menu li a{display:block;padding:1rem 0;margin:1rem;text-align:center;font-size:2.2rem;font-weight:bold;background:rgba(255,255,255,.2);}
.g-profile .article{margin-top:10rem;overflow:hidden;}
.g-profile .article .cnt{float:right;width:60%;text-align:left;padding-bottom:20rem;}
.g-profile .article .cnt h2{text-align:left;display:inline-block;border-bottom:2px solid #fff;line-height:2em;}
.g-profile .article .cnt h3{font-size:3.2rem;margin-top:2rem;}
.g-profile .article .cnt p{font-size:1.4rem;line-height:1.5em;}
.g-profile .article .cnt p.en{margin:1rem 0 2rem;font-size:1.2rem}
.g-reason{overflow:hidden;background:#000;padding-bottom:4rem;}
.g-reason .hd{display:inline-block;color:#fff;text-align:center;margin:1rem;border-bottom:2px solid #fff;}
.g-reason .hd h3{font-size:3.6rem;margin:1rem 0 0;}
.g-reason .hd p{font-size:1.6rem;margin:1rem 0;}
.g-reason .bd{color:#fff;}
.g-reason .bd{margin-top:4rem;}
.g-reason .bd ul li{text-align:center;padding:1%;}
.g-reason .bd ul li img{width:52%;}
.g-reason .bd ul li h4{font-size:2.2rem;padding:1rem 0;}
.g-reason .bd ul li p{text-align:left;font-size:1.4rem;line-height:1.5em;}
.g-partners .sub-title{color:#ff0000;margin:2rem 1rem;}
.g-partners img{width:100%;}
.g-form{height:732px;background:#000;margin:8rem 0 4rem;}
.g-form .wrap{position:relative;height:100%;}
.g-form .m-left{position:relative;width:50%;        /*left: 0;*/        /*top: -20px;*/

    /*padding-top: 20px;*/
padding-left:3rem;box-sizing:border-box;color:#fff;padding-bottom:6rem;z-index:999;}
.g-form .m-left .border{position:absolute;width:80%;height:100%;left:-2.5rem;top:-3rem;border:10px solid #7b7b7b;z-index:9;}
.g-form .m-left .hd{position:relative;border-bottom:1px solid #fff;padding:3rem 0 1rem;}
.g-form .m-left .hd .line{position:absolute;width:100px;height:2px;background:#fff;left:0;bottom:0;}
.g-form .m-left .bd{margin-top:2rem;}
.g-form .m-left .bd p{line-height:4em;font-size:1.6rem;}
.g-form .m-left .hd h3{font-size:2.4rem;}
.g-form .m-left .hd i{font-size:1.6rem;margin-left:1rem;}
.g-form .m-right{position:absolute;width:64%;right:0;bottom:-20px;}
.g-form .m-right form{background:#e14140;padding:6rem;box-sizing:border-box;overflow:hidden;}
.g-form .m-right form .ipt-txt{width:48%;height:54px;background:#e76766;border:0;outline:none;font-size:1.8rem;padding-left:10px;box-sizing:border-box;border-radius:5px;}
.g-form .m-right form .ipt-txt:nth-child(2){margin-left:2%;}
:-moz-placeholder{        /* Mozilla Firefox 4 to 18 */
color:#fff;}
::-moz-placeholder{        /* Mozilla Firefox 19+ */
color:#fff;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#fff;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#fff;}
.g-form .m-right form select{width:100%;height:56px;border:0;margin-top:20px;color:#fff;font-size:1.8rem;padding-left:10px;border-radius:5px;background:#e76766;}
.g-form .m-right form textarea{width:100%;background:#e76766;margin-top:20px;font-size:1.8rem;padding:10px;border:none;border-radius:5px;box-sizing:border-box;}
.g-form .m-right form .ipt-sbm{cursor:pointer;color:#fff;background:#3498db;border:none;font-size:14px;float:right;margin-top:10px;padding:1rem 5rem;font-size:1.6rem;border-radius:5px;}
@media screen and (max-width:414px){
    html{font-size:45%;}
    .flex-control-paging li a{width:6px!important;height:6px!important;}
    .site-nav{            /*display: none;*/
    height:60px;}
    .site-nav .nav-list li{height:60px;line-height:56px;}
    .mainContent h2{            /*margin-top: 30px;*/}
    .g-solution .bd ul li{width:32.66666666666667%;height:210px;margin:20px 8.666666666666666%;}
    .g-advantage{height:auto;}
    .g-advantage .bd ul li{width:44%;height:200px;margin:20px 3%;padding:0 3% 3%;}
    .g-advantage .bd ul li h3{padding:10px 0;}
    .g-advantage .bd ul li p{margin-top:10px;}
    .g-aboutUs .m-cxt{float:none;width:auto;padding:10px;margin-top:0;}
    .g-aboutUs .bd{margin-top:20px;}
    .g-aboutUs .m-cxt h3{font-size:14px;text-align:center;background:#000;color:#fff;margin-bottom:20px;}
    .g-aboutUs .m-cxt h3 em{font-size:14px;color:#fff;}
    .g-aboutUs .m-cxt p{text-indent:2em;}
    .g-aboutUs .m-picWrap ul li{width:50%;margin:0;text-align:center;}
    .g-aboutUs .m-picWrap ul li:nth-child(3),.g-aboutUs .m-picWrap ul li:nth-child(4),.g-aboutUs .m-picWrap ul li:nth-child(5),.g-aboutUs .m-picWrap ul li:nth-child(6){display:none;}
    .g-ourAdvantage .bd{margin-top:20px;}
    .g-ourAdvantage ul li img{display:none;}
    .g-focus ul li{width:100%;float:none;text-align:center;}
    .g-focus ul li .item a{display:inline-block;}
    .g-focus .wrap{padding:20px 0;}
    .g-focus ul li .item{margin-top:0;}
    .g-focus ul li h3{margin-top:10px;padding:10px 0;line-height:1em;}
    .g-ourAdvantage ul li .m-txt:after{display:none;}

    /*finacial*/
    .m-partMsg{font-size:1.6rem;}
    .g-partm .modTwo .sign,.g-partm .modFour .sign{float:none;}
    .g-partm .modFour .cnt{margin-top:2rem;text-align:left;}
    .g-partm{padding:4rem 0 0;}
    .g-partmTwo .modTwo,.g-partmTwo .modThree{float:none;width:100%;text-align:center;}
    .g-partm .modTwo,.g-partm .modFour{padding:2rem 4rem;}

    /* platformBuild */
    .hd-platTitle h2{margin-top:0;}
    .g-plat-advant ul{            /*margin-top: 2rem;*/}
    .g-plat-advant{padding-top:2rem;}
    .g-plat-advant ul li{margin-top:2rem;padding:0 1rem;-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:100%!important;box-sizing:border-box;}
    .g-platFun ul li{width:50%;height:250px;}
    .hd-platTitle .u-title{padding:4rem 0;}
    .hd-platTitle .bg-txt{            /*margin-top: -3.2rem;*/}
    .g-partmThree .modFive{            /*padding-bottom: 1rem;*/}
    .g-partmThree .modFive .cnt h3{margin-top:2rem;}

    /* website */
    .g-ws-fast .u-cpt{position:relative;}
    .g-ws-fast ul li{width:50%;}
    .g-net .cell{-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:auto;}
    .g-net .cell .hd img{width:20%;}
    .g-exp ul li{height:132px;}

    /* trad */
    .g-trad-step ul li{float:left;flex:none;width:auto;}
    .g-trad-step ul li .cnt em{float:none;font-size:2rem;}

    /* options */
    .g-opts-adv .bd ul li{width:100%;height:auto;}

    /* aboutUs */
    .g-reason .bd{margin-top:2rem;}
    .g-reason .hd{display:block;}
    .g-reason .bd ul li{height:220px;-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:50%;box-sizing:border-box;padding:0 4%;}
    .g-reason .bd ul li:nth-child(3),.g-reason .bd ul li:nth-child(4),.g-reason .bd ul li:nth-child(5){width:33.33%;}
    .g-form .m-left{width:100%;}
    .g-form .m-left .border{width:86%;left:4%;}
    .g-form{height:auto;}
    .g-form .m-right{position:relative;width:100%;}
    .g-form .m-right form{padding:2rem;}
}
@media screen and (min-width:415px) and (max-width:769px){
    .g-aboutUs .m-cxt{float:none;width:100%;}
    .g-aboutUs .bd{margin-top:2rem;}
    .g-aboutUs .m-cxt h3{text-align:center;margin-bottom:0;}
    .g-aboutUs .m-cxt p{text-indent:2em;}
    .g-plat-advant ul li{padding:0 2rem;}

    /* option */
    .g-opts-adv .bd ul li{height:145px;}

    /* platform */
    .g-platFun ul li{padding:4%;}

    /*finacial*/
    .m-partMsg{font-size:1.6rem;}
}