/* slide-holder */
div#slide-holder{width:100%;height:356px;margin:0 auto;position:relative;}
div#slide-holder div#slide-runner{top:0;left:0;width:100%;height:356px;overflow:hidden;position:absolute;}
div#slide-holder img{margin:0;display:non1e;position:absolute;width: 100%;height: 100%;}
div#slide-holder div#slide-controls{left:0;bottom:0px;width:100%;height:46px;display:none;position:absolute;}
div#slide-holder div#slide-controls p.text{display:none;}
div#slide-holder div#slide-controls p#slide-nav{float:right;height:24px;display:inline;margin:11px 15px 0 0;}
div#slide-holder div#slide-controls p#slide-nav a{float:left;width:24px;height:24px;display:inline;font-size:11px;margin:0 5px 0 0;line-height:24px;font-weight:bold;text-align:center;text-decoration:none;background-position:0 0;background-repeat:no-repeat;}
div#slide-holder div#slide-controls p#slide-nav a.on{background-position:0 -24px;}
div#slide-holder div#slide-controls p#slide-nav a{background-image:url(../images/silde-nav.png);}