dl,dt,dd,
p,
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
select,
input{
    outline: none;
}
body{
    font-family:"微软雅黑","Microsoft Yahei";
    font-size: 14px;
    background-color: #fffaf0;
}



a{
    color: #484848;
}
a:hover{
    color: #F60;
    text-decoration: none;
}
.wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    float: right;
    text-align: right;
    margin-top: 10px;
}
.nav li{
    display: inline-block;
}
.nav li a{
    display: inline-block;
    color: #484848;
    font-size: 18px;
    padding: 7px 20px;
    margin-right: 20px;
    border-radius: 6px;
}
.nav li.current a,
.nav li a:hover{
    background-color: #49241a;
    color: #fff;
}

.m-bar{
    height: 50px;
}
.logo-m img{
    height: 40px;
    display: block;
    z-index: 60;
    position: absolute;
    left: 10px;
    top: 5px;
}
.m-hd{
    display: none;
    background-color: #fff;
    padding: 0 10px;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    width: 100%;
    -o-box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
}
.m-nav{
    clear: both;
    position: absolute;
    top: 50px;
    left: 0;width: 100%;
}
.m-nav a{
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: left;
    border-top: 1px solid #efefef;
    font-size: 15px;
    background-color: #fff;
    padding: 0 20px;
    text-align: center;
}

.m-trigger{
    height: 50px;
    cursor: pointer;
    width: 30px;
    float: right;
    background: url(../images/menu.png) no-repeat left center;
    background-size: 25px;
}
.m-nav{display: none;}
.m-sub{
    display: none;
}
.m-sub a{font-size: 14px;padding: 0 30px;background-color: #F1F1F1;border-top-color: #efefef;}

.m-show{display: none;}
#footer{
    margin-top: 20px;
    background-color: #49241a;
    overflow: hidden;
    padding: 10px 0;
}

#footer .con{
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    color: #fff;
}
.fd-link{
    float: left;
    width: 60%;
}
.copy-right{
    float: right;
}
.fd-link a{
    color: #fff;
    font-size: 14px;
    margin-right: 10%;
}
.fd-link a:hover{
    text-decoration: underline;
}
.header{
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
}
.lb-info .dropdown{
    padding: 7px 20px 0 10px;
    display: block;
}
.lb-info .hidden-sm-only{
    display: inline-block;
    width: 120px;
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.lb-info .dropdown > a{
    padding: 0 20px;
    width: auto;
}
.lb-info .dropdown > a .avatar{
    margin: 0 4px;
    vertical-align: baseline;
    width: 35px;
    height: 35px;
    float: left;
}
.lb-info .dropdown > a .hidden-sm-only{
    font-size: 16px;
    font-family: Arial;
    float: left;
    line-height: 50px;
    padding: 0 27px;
    display: inline-block;
}
.lb-info .dropdown .caret{
    border-top: 8px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.login-bar{
    background-color: #fff3f3;
    height: 66px;
}
.login-bar .wrap{
    height: 100%;
}
.avatar .img-circle{
    width: 53px;
    height: 53px;
}
.lb-tit,
.lb-info{
    height: 100%;
    color: #fff;
    background-color: #49241a;
}
.lb-tit{
    float: left;
    width: 228px;
    text-align: center;
    position: relative;
}
.lb-tit:after{
    content: '';
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #49241a;
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -6px;

}
.lb-info{
    float: right;
    width: 235px;
    position: relative;
}
.lb-info b{
    color: #fff;
    font-weight: normal;
}
.lb-con{
    margin: 0 235px 0 228px;
    padding: 0 40px;
    line-height: 66px;
}
u{
    text-decoration: none;
}
.lb-con em{
    float: right;
    font-style: normal;
    color: #49241a;
}
.lb-con a:hover em{
    color: #f60;
}
.lb-con span{
    margin-right: 20px;
    float: right;
}
.news-scroll li{
    height: 44px;
    overflow: hidden;
}
.news-scroll a{
    display: block;
}
.lb-con u{
    display: block;
    margin-right: 240px;
    overflow: hidden;
    height: 44px;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width: 426px;
}
.lb-tit em{
    display: inline-block;
    height: 100%;
    background: url(../images/ic1.png) no-repeat left 50%;
    padding-left: 50px;
    line-height: 66px;
    font-size: 17px;
    font-style: normal;
}
.lb-info .dropdown-menu{
    width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  list-style: none;
  font-size: 18px;
  text-align: left;
  background-color: #ffffff;
}
.lb-info li{
    color: #49241b;
}
.lb-info .dropdown-menu li{
    border-bottom: 1px solid #d4d4d4;
    padding: 1px 0;
}
.lb-info .dropdown-menu a{
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: 40px center;
    display: block;
    height: 76px;
    line-height: 76px;
}
.lb-info .s1 a{
    background-image: url(../images/d1.png);
}
.lb-info .s2 a{
    background-image: url(../images/d2.png);
}
.lb-info .s3 a{
    background-image: url(../images/d3.png);
}
.lb-info .s4 a{
    background-image: url(../images/d4.png);
}
.lb-info .dropdown-menu a:hover{
    background-color: #e6e6e6;
    color: #49241a;
}
#banner{
    height: 390px;
    margin-bottom: 36px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#banner .wrap{
    position: relative;
}
.login-box{
    position: absolute;
    right: 0;
    top: 10px;
    margin-top: 30px;
    width: 285px;
}
.login-box .hd{
    line-height: 50px;
    font-size: 18px;
    background-color: #684941;
    color: #fff;
    padding: 0 20px;
}
.login-box .bd{
    padding: 20px 20px 4px 20px;
    background-color: #fff;
}
.form-list li{
    margin-bottom: 10px;
    overflow: hidden;
}
.form-list .inp{
    border: 1px solid #dddddd;
    height: 46px;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 50px;
    outline: none;
    width: 100%;
}
.form-list .inp1{
    background: url(../images/ip1.png) no-repeat 10px 50%;
}
.form-list .inp2{
    background: url(../images/ip2.png) no-repeat 10px 50%;
}
input[type=checkbox]{
    position: relative;
    top: 2px;
    margin-right: 4px;
}
.form-list a{
    float: right;
    color: #0082cb;
}
.form-list .sub{
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    background-color: #49241a;
    text-align: center;
    border: 0;
    cursor: pointer;
    font-family:"微软雅黑","Microsoft Yahei";
    font-size: 18px;
}
.form-list a:hover{
    text-decoration: underline;
}
.form-list .sub:hover{
    opacity: .9;
}
.search-box{
    border: 1px solid #4ccd49;
    background-color: #fff;
    height: 48px;
    overflow: hidden;
    width: 486px;
    display: inline-block;
}
.search-box .sb-tit{
    float: left;
    margin-top: 10px;
}

.search-box .sb-con{
    float: left;
}
.sb-con input{
    float: left;
}
.sb-con .inp{
    width: 315px;
    border: none;
    margin-top: 6px;
    height: 34px;
    border-left: 1px solid #4ccd49;
    padding: 0 20px;
}
.sb-con .sub{
    width: 54px;
    text-align: center;
    border: 0;
    cursor: pointer;
    background: #4ccd49 url(../images/sbg.png) no-repeat 50% 50%;
    height: 48px;
}
.sb-tit select{
    font-size: 18px;
    color: #4ccd49;
    width: 115px;
    border: none;
    padding-left: 14px;
}

.search-box-center{
    text-align: center;
    padding-top: 180px;
}
.news-box{
    padding-left: 3px;
    padding-right: 3px;
} 
.more-z{
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #49241a;
    background-color: #dedede;
}
.news-box .hd{
    height: 62px;
    /*padding-left: 123px;*/
    padding-left: 38%;
}
.news-box .hd h3{
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    padding-top: 6px;
}
.news-box .hd p{
    text-indent: 5px;
    font-size: 12px;
    color: #9a9a9a;
    text-transform: uppercase;
}
.news-box.s1 .hd{
    background:#927c76 url(../images/z1.png) no-repeat 20% 50%;
}

.news-box.s2 .hd{
    background:#9a7c68 url(../images/z2.png) no-repeat 20% 50%;
}

.news-box.s3 .hd{
    background:#a9813c url(../images/z3.png) no-repeat 20% 50%;
}

.news-box.s4 .hd{
    background:#836d45 url(../images/z4.png) no-repeat 20% 50%;
}
.index-bd .row{
    margin-left: -18px;
    margin-right: -18px;
}
.list-news li{
    background: url(../images/dt.png) no-repeat 10px 50%;
    line-height: 30px;
    padding-left: 30px;
}
.list-news{
    padding: 10px 0;
}


.video-list .col-md-4{
}
.video-list a{
    display: block;
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}
.video-list h3{
    margin: 10px 0;
    font-size: 16px;
    font-weight: normal;
}
.video-list img{
    width: 100%;
}
.v-box{
    position: relative;
}
.v-box i{
    position: absolute;
    width: 100px;
    height: 101px;
    background: url(../images/play.png) no-repeat left top;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.video-list p{
    color: #aeaeae;
}
.video-list em{
    color: #1eca26;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-style: normal;
}
.video-list .col-md-4{
    padding: 8px;
}
.video-list{
    margin-left: -25px;
    margin-right: -25px;
}
.video-list a:hover i{
    opacity: 1;
}
.pb-menu{
    height: 52px;
    background-color: #fff;
}
.pb-menu a{
    display: block;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    border-bottom: 1px solid #fff;
}
.pb-menu i{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    display: inline-block;
}
.pb-menu em{
    font-style: normal;
    margin-left: 14px;
}
.pb-menu i{
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
}
.pb-menu .current i,
.pb-menu a:hover i{
    background-image: url(../images/spritesheet_h.png);
}
.pb-menu .current a,
.pb-menu a:hover{
    color: #2cd237;
    border-bottom: 1px solid #2cd237;
}
.pb-menu .s1{
    width: 29px;
    height: 29px;
    background-position: -30px -30px;
}

.pb-menu .s2 {
    width: 28px;
    height: 28px;
    background-position: -30px -119px;
}

.pb-menu .s3 {
    width: 27px;
    height: 27px;
    background-position: -30px -207px;
}


.pb-menu .s4 {
    width: 27px;
    height: 27px;
    background-position: -30px -294px;
}


.pb-menu .s5 {
    width: 26px;
    height: 26px;
    background-position: -30px -381px;
}

.pb-menu li{
    float: left;
    margin-right: 46px;
    font-size: 15px;
    margin-left: -10px;
}
.v-menu{
    background-color: #fff;
}
.table-list th{
    background-color: #f1f1f1;
    font-size: 17px;
    color: #333;
    height: 51px;
    text-align: center;
    font-weight: normal;
}
.table-list td{
    height: 62px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 10px;
    text-align: center;
}
.table-list{
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
}
.table-list .tit{
    text-align: left;
    background: url(../images/dt1.gif) no-repeat left 50%;
    padding-left: 14px;
}
.table-list span{
    color: #ffae0c;
}
.table-list tr:hover{
    background-color: #fffaee;
}
.table-list .order-btn{
    color: #e46240;
}
.pagination-box{
    text-align: right;
    margin-top: 36px;
}
.pagination{
    display: inline-block;
}
.pagination em{
    color: #e35957;
}
.pagination li{
    display: inline-block;
}
.pagination-box em{
    font-style: normal;
    color: #e35957;
}
.pagination-box a{
    display: inline-block;
    margin: 0 4px;
    padding: 6px 12px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}
.pagination-box .inp{
    width: 40px;
    height: 30px;
    border: 1px solid #ddd;
    margin: 0 4px;
    padding: 0 2px;
}
.pagination-box .sub{
    border: 0;
    background: none;
    color: #e35957;
    margin-left: 5px;
}

.pagination li{
    display: inline-block;
}
.pagination a:hover{
    background: #4f678f;
    border-color: #4f678f;
    color: #fff;
}
.pagination-box a.prev,
.pagination-box a.next{
    background-image: url(../images/page_arr_l.png);
    width: 34px;
    height: 34px;
    background-position: center center;
    background-repeat: no-repeat;
}
.pagination-box a.next{
    background-image: url(../images/page_arr_r.png);
}
.pagination-box a.prev:hover{
    background-image: url(../images/page_arr_l_h.png);
}
.pagination-box a.next:hover{
    background-image: url(../images/page_arr_r_h.png);
}
.pagination-box *{
    vertical-align: middle;
}
.course-detail{
    margin-top: 10px;
}
.course-detail p{
    font-size: 16px;
}
.course-detail h3{
    font-size: 36px;
    font-weight: normal;
}
.course-detail .s1{
    margin-bottom: 24px;
}
.course-detail h4{
    font-size: 26px;
    color: #fff;
    margin: 30px 0 10px 0;
    font-weight: normal;
}
.order-z1{
    width: 168px;
    height: 50px;
    color: #49241a;
    line-height: 50px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    border: 0;
    cursor: pointer;
    display: inline-block;
}
.course-detail li{
    background-color: #49241a;
    overflow: hidden;
    color: #fff;
    margin-bottom: 20px;
    padding: 45px 10px 25px 25px;
}


.course-detail .left{
    overflow: hidden;
    padding-left: 20px;
}
.course-detail .right{
    float: right;
    width: 210px;
    text-align: center;
}
.side{
    float: left;
    width: 240px;
    background-color: #fff;
    min-height: 650px;
    padding: 30px 0;
}
.main{
    margin-left: 260px;
}
.snv li a{
    display: block;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
}
.snv li a:hover{
    color: #49241a;
    background-color: #f6ebe3;
}
.main h1{
    font-size: 22px;
    font-weight: normal;
    color: #49241a;
    line-height: 40px;
}
.cur{
    line-height: 38px;
    color: #afafaf;
}
.cur a{
    color: #afafaf;
}
.cur a:hover{
    color: #f60;
}
.article .hd p{
    color: #afafaf;
}
.article .hd{
    margin-bottom: 10px;
}
.news-box2 .hd a{
    float: right;
    color: #b9b9b9;
    font-size: 14px;
}

.news-box2 .hd {
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: 0 center;
    font-size: 18px;
    color: #49241a;
    font-weight: normal;
    line-height: 60px;
}
.news-box2 .hd h3{
    font-weight: normal;
    line-height: 60px;
}
.news-box2{
    padding: 0 20px;
    margin-bottom: 20px;
}
.index-bd2{
    margin: 0 -35px;
}
.news-box2 .pad{
    padding: 12px;
    padding-top: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border-top: 7px solid #49241a;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    background-color: #fff;
}
.list-news2{
    line-height: 28px;
    font-size: 16px;
}
.list-news2 li{
    height: 1.8em;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.list-news2 a:link{
    color: #393939;
}

.news-box2.s1 .hd{
    background-image: url(../images/c1.png); 
}

.news-box2.s2 .hd{
    background-image: url(../images/c2.png); 
}
.news-box2 .img{
    display: block;
    padding-bottom: 6px;
}
.news-box2 .img img{
    width: 100%;
}
.news-box2 .hd a:hover{
    color: #f60;
}
.news-scroll{
    width: 90%;
}
.table-list-box{
    overflow: auto;
}

.video-inner{
    background-color: #fff;
    padding: 30px;
}
.video-inner h1{
    font-size: 24px;
    font-weight: normal;
    margin: 30px 0;
    text-align: center;
    padding: 0 30px;
}
.v-player{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}