/* common */
html{font-size:62.5%;}
body{overflow-x:hidden;background:#000;}
.wrap{width:100%;max-width:1200px;margin:0 auto;}
.flex{display:-webkit-box!important;display:-webkit-flex!important;display:-ms-flexbox!important;display:flex!important;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.flex>.cell{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:0;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;max-width:100%;display:block;        /*padding: 0!important;*/position:relative}
.flex>.cell.fixed{-webkit-box-flex:0!important;-webkit-flex:none!important;-ms-flex:none!important;flex:none!important;width:auto}

/* index_page */
#overflow{border:1px solid #000;overflow-x:scroll;overflow-y:hidden;}
#overflow .container .cnt a{float:left;width:60px;float:left;}
@media only screen and (max-width:1024px){
	#overflow{width:480;height:60px;}
	#overflow .container .cnt a{height:45px;}
}
@media only screen and (max-width:768px){
	#overflow{width:480;height:60px;}
	#overflow .container .cnt a{height:45px;}
}
@media only screen and (max-width:480px){
	#overflow{width:480;height:35px;}
	#overflow .container .cnt a{height:20px;}
}
@media only screen and (max-width:320px){
	#overflow{width:320;height:35px;}
	#overflow .container .cnt a{height:20px;}
}
h1{display:inline-block;width:0;height:0;padding:137px 0 0 240px;overflow:hidden;background:url(../images/logo.png) no-repeat left top;}
.g-header{}
.site-nav{position:relative;background:url(../images/bg-nav.png) no-repeat center top;z-index:9999;}
.nav-list{text-align:center;}
.nav-list a{position:relative;display:inline-block;width:0;height:0;padding:70px 0 0 125px;	/*line-height: 70px;*/overflow:hidden;vertical-align:top;background:url(../images/a-nav1.png) no-repeat center center;}
.nav-list a.news{background:url(../images/a-nav2.png) no-repeat center center;}
.nav-list a.data{background:url(../images/a-nav3.png) no-repeat center center;}
.nav-list a.stra{background:url(../images/a-nav4.png) no-repeat center center;}
.nav-list a.bbs{background:url(../images/a-nav5.png) no-repeat center center;}
.nav-list a.ser{background:url(../images/a-nav6.png) no-repeat center center;}
.nav-list a:first-child:after,.nav-list a:nth-child(5):after{display:none;}
.nav-list a:after{content:'';position:absolute;width:1px;height:68px;left:0;top:0;left:0;box-shadow:0 0 1px #fff;background:#0d0202;opacity:.5;}
.g-banner{position:relative;margin-top:-139px;}
.g-banner img{width:100%;}
.g-banner .btn-wrap{position:absolute;width:1200px;height:76px;left:50%;margin-left:-600px;bottom:60px;text-align:right;}
.g-banner .btn-wrap .btn-jion{display:inline-block;width:221px;height:76px;background:url(../images/btn-jion.png) no-repeat left top;}
.mainContent{margin-top:-127px;padding-top:100px;background:url(../images/bg-mainCnt.png) no-repeat center top;}
.g-section1 .txt{color:#fff;font-size:26px;text-align:right;}
.g-section1 .txt em{color:#fff21f;font-size:42px;}
.g-section1 ul{margin-top:68px;}
.g-section1 ul li .cnt{position:relative;width:251px;height:401px;overflow:hidden;text-align:center;padding:16px;box-sizing:border-box;margin:0 auto;background:url(../images/bg-section.png) no-repeat left top;}
.g-section1 ul li:first-child .cnt{float:left;}
.g-section1 ul li:last-child .cnt{float:right;}
.g-section1 ul li .cnt h3{height:42px;line-height:40px;font-size:16px;color:#7c1816;font-weight:bold;background:url(../images/bg-btn.png) no-repeat center center;}
.g-section1 ul li .cnt .bd img{margin:28px auto;}
.g-section1 ul li .cnt .bd p{font-size:20px;color:#e5bcb7;line-height:1.5em;}
.g-section1 li{-webkit-transition:linear .2s;-o-transition:linear .2s;transition:linear .2s;}
.g-section1 li:hover{margin-top:-10px;}
.btn-sec1{position:absolute;left:0;bottom:16px;width:100%;height:49px;line-height:49px;color:#732f31;font-size:26px;text-shadow:0 0 1px #f39e9e;background:url(../images/bg-btn2.png) no-repeat center center;}
h2{font-size:46px;text-align:center;color:#fff043;padding:68px 0 0;}
.g-section2 ul{overflow:hidden;}
.g-section2 ul li{float:left;width:50%;margin-top:64px;}
.g-section2 ul li .cnt{width:567px;height:246px;background:url(../images/bg-section2.png) no-repeat left top;}
.g-section2 ul li:nth-child(2) .cnt,.g-section2 ul li:nth-child(4) .cnt{float:right;}
.g-section2 ul li .cnt h3{height:60px;line-height:60px;color:#1a0903;font-size:24px;text-shadow:0 0 2px #fff;text-align:center;font-weight:bold;background:url(../images/bg-title.png) no-repeat left top;}
.g-section2 ul li .cnt p{color:#000;line-height:1.5em;font-size:16px;margin:20px;}
.g-section3 .pgwSliderWrap{position:relative;margin-top:68px;height:575px;overflow:hidden;background:url(../images/bg-slide.png) no-repeat center center;}
.btn-try{position:absolute;display:inline-block;width:190px;height:72px;right:332px;bottom:16px;background:url(../images/btn-try.png) no-repeat center center;}
.g-section4 ul{margin-top:68px;}
.g-section4 li{}
.g-section4 li .cnt{margin:0 8px;border:10px solid #636363;}
.g-section4 li:first-child .cnt{margin:0 8px 0 0;}
.g-section4 li:last-child .cnt{margin:0 0 0 8px;}
.g-section4 li .cnt .mod1,.g-section4 li .cnt .mod2,.g-section4 li .cnt .mod3,.g-section4 li .cnt .mod4,.g-section4 li .cnt .mod5{position:relative;padding:0 10px;text-align:center;box-sizing:border-box;}
.g-section4 li .cnt .mod1{color:#745333;font-size:18px;line-height:1.5em;text-align:left;height:144px;padding-top:26px;background:#e6d1be;}
.g-section4 li .cnt .mod2{height:74px;line-height:74px;font-size:26px;color:#b32c2c;font-weight:bold;background:#e4cdb8;}
.g-section4 li .cnt .mod3{height:110px;line-height:110px;color:#fff;font-size:30px;font-weight:bold;background:#100303;}
.g-section4 li .cnt .mod3:before{position:absolute;top:-10px;left:50%;margin-left:-5px;content:'';border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #100303;}
.g-section4 li .cnt .mod3:after{position:absolute;bottom:-10px;left:50%;margin-left:-5px;content:'';border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #100303;z-index:9;}
.g-section4 li .cnt .mod4{height:78px;line-height:78px;color:#e6d1be;font-size:26px;background:#c74c4c;}
.g-section4 li .cnt .mod5{height:100px;line-height:1.5em;color:#e6d1be;padding-top:16px;font-size:18px;background:#e25656;}
.g-section5{margin-top:68px;padding-bottom:60px;margin-bottom:60px;background:#1d0707;}
.g-section5 ul{margin-top:68px;}
.g-section5 ul li .hd h3{display:inline-block;font-size:40px;color:#c82d2d;margin-right:10px;}
.g-section5 ul li.fixed{padding:0 30px;}
.g-section5 ul li .hd h3 em{display:inline;padding:8px 15px 4px;font-size:26px;border-radius:5px;margin:0 4px;font-weight:bold;background:#382525;}
.g-section5 ul li .hd span{color:#f3d889;font-size:26px;}
.g-section5 ul li .bd{padding-top:78px;text-align:center;}
.g-section5 ul li.fixed img{margin-top:100px;}