*{margin: 0;list-style-type:none;padding: 0;font-family: "微软雅黑",Arial;}
html{}
body{color: #19171c;}
table,tbody{width: 100%;overflow: hidden;}
a{text-decoration:none;}
img{max-width: 100%;}
ul{overflow:hidden;zoom: 1}
::-webkit-scrollbar{
    display: none;
}
::-moz-scrolled-canvas{
    display: none;
}
::-moz-scrolled-content{
    display: none;
}
.nav{
    position: fixed;top: 0;left: 0;
    width: 100%;z-index: 99;
    height: 0;
    background: rgba(244,244,244,.95);
    transition: all .35s ease-in-out 0s;
}
.clear{
    clear: both;
}
.nav .rightlogo{
    position: absolute;right: 55px;
    display: none;
}
.nav i{
    /*background-color: rgb(40,41,44);*/
    display: block;
    width: 50px;
    margin-top: 10px;
    background-size: cover;
    height: 50px;
}
.nav .rightlogo:last-child{
    right: 0px;
}
.navlogo .phonetitle{display: none}
.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.minwid{
    /*min-width: 1090px;*/
    overflow: hidden;
    zoom: 1;

}
.navlogo{
    float: left;
    display: inline-block;
    width: 238px;
    height: 70px;
    margin-left: 16.66%;
    padding: 16px 0;
    box-sizing: border-box;
}
.navlogo img{
    float: left;
   width: 30px;
}
.navlogo span{
    display: inline-block; float: left;margin-left: 15px;color: #fff;
    transition: all .35s ease-in-out 0s;
}
.title{
    height: 25px;line-height: 25px;
}
.littitle{
    height: 14px;line-height: 14px;font-size: 12px;
}
.navwrapper{
    position: relative;
    /*overflow: hidden;*/
    /*zoom: 1;*/
    /*width: auto;*/
    height: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    margin-left: 50%;
    margin-right: 16.66%;!important;
}
.navnav{
    width: 100%;
    position: relative;
    zoom: 1;overflow: hidden;
}
.xiabiao{
    position: absolute;
    width: 2em;
    height: 3px;
    background: #ff0000;
    bottom: -8px;
    margin-left:calc(25% - 2em);
    transition: all .5s ease-in-out 0s;
}
.navnav li{
    float: left;
    text-align: right;
    width: 25%;cursor: pointer;
}
.navnav li a{
    padding-bottom: 7px;font-size: 16px;color: #fff;
    transition: all .4s ease-in-out 0s;
}
.bignav{
    font-size: 20px;
}
.navlogo img{
    width: 40px;
}
.nav .list:hover .nav .navwrapper{display: block}
/*.navnav li:hover a{*/
    /*border-bottom: solid 3px #0842d3;*/
/*}*/
.part1{
    width: 100%;
}
.bigtitle,.bigtitle3{
    font-size: 4em;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 0 .5em;
    position: absolute;
    top: 10%;
    opacity: 0;
    left: calc(50% - 5em);
    transition: all .7s ease-in-out 0s;
}
.l2t2{
    left: 50%;
}
.bigtitle3{
    width: 100%;text-align: center;
    left: 0;margin: 0;
}
.l2title3,.l3title3{
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    letter-spacing: 5px;
    font-size: 20px;
    bottom: 25%;
    opacity: 0;
    transition: all .5s ease-in-out .3s;
}
.l2title4,.l3title4{
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    letter-spacing: 5px;
    font-size: 30px;
    bottom: 15%;opacity: 0;
    transition: all .5s ease-in-out .6s;
}
.lunbo1{
    height: 100%;
    background: url(../image/lunbo.jpg) no-repeat center;
    position: relative;
    background-size: cover;
}
.lunbo2{
    height: 100%;
    background: url(../image/lunbo2.jpg) no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}
.lunbo3{
    height: 100%;
    background: url(../image/lunbo3.jpg) no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}
#swiper{height: 100%;}
.pc{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .7s;
    font-weight: bold;
    color: white;
}
.macbook{
    width: 20%;
    position: absolute;
    bottom: 20%;
    opacity: 0;
    color: white;
    transition: all .9s ease-in-out 0s;
}
.iphone{
    /*max-width: 8%;*/
    color: white;
    width: 55%;
    font-size: 1.2em;
    position: absolute;
    bottom: -100%;
    opacity: 0;
    transition: all .8s ease-in-out .6s;
}
.part1 .text{
    position: absolute;
    left: 20%;
    opacity: 0;
    transition: all .7s ease-in-out 0s;
}
.part1 .text h2{
    position: relative;
    color: #ad2525;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 15px;
}
.part1 .text .n8{
    font-size: 18em;color: red;    font-family: segoe UI;
}
.part1 .leftbor{
    position: absolute;
    top: -15px;left: -15px;
    /*background: red;*/
    width: 0;
    height: 0;
    border-left: solid 1px rgba(255,255,255,.5);
    border-top: solid 1px rgba(255,255,255,.5);
    transition: all .8s ease-in-out 1s;
}
.part1 .rightbor{
    position: absolute;
    bottom: -15px;right: -15px;
    /*background: red;*/
    width: 0;
    height: 0;
    border-bottom: solid 1px rgba(255,255,255,.5);
    border-right: solid 1px rgba(255,255,255,.5);
    transition: all .8s ease-in-out 1s;
}
.part1 .text h2 b{
    font-weight: lighter;
    position: absolute;
    top: -.5em;
    height: 1em;
}
.part1 .text p{
    color: #fff;
    font-size: 24px;
    text-align: right;
    box-sizing: border-box;
    overflow: hidden;
    height: 1.5em;
    padding-top: 1.5em;
    transition: all .5s ease-in-out .6s;
}

.part2,.part3,.part4,.part5,.part6{
    /*width: 80%;*/
    max-width: 1400px;
    margin-left: 10%;!important;
    margin-right: 10%;!important;
    /*margin: 0 auto;*/
    /*height: 600px;*/
    position: relative;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
.wrapper52{
    /*width: 450px;*/
    margin: 1% auto;
    height: 100px;
}
.part4 .wrapper52{
    text-align: center;
}
.part2 .wrapper52{
    width: 100%;text-align: center;
}
.num8{
    position:absolute ;
    width: 4em;
    left: -10px;
    display: inline-block;
    bottom: 2em;
    opacity: 0;
    transition: all .5s ease-in-out .5s;
}
.part2 .head{
    position: relative;
}
.title2{
    /*position: absolute;*/
    /*margin-left: calc(50% - 16em);*/
    top: 0;
    /* margin-left: 4.5em; */
    display: inline-block;
    opacity: 0;
    transition: all .5s ease-in-out .5s;

}

.title2 span{
    font-size: 40px;color: #0842d3;
}
.title2 h3{
    font-family: SimHei;
    display: inline-block;
    margin-left: .5em;
    /*font-size: 1.8em;*/
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 10px;white-space: nowrap;  margin-bottom: 10px;
}
.title2 h6{
    text-align: center;
    height: 1.5em;overflow: hidden;box-sizing: border-box;padding-top: 1.5em;
    font-size: 16px;white-space: nowrap;
    font-weight: lighter;
    transition: all .5s ease-in-out 1s;
}
.serveul{
    overflow: hidden;padding: 2px;zoom: 1;
}
.serveul .serveli{
    position: relative;overflow: hidden;
    width: 22%;height: 250px;float: left;margin-bottom: 35px;
    margin-right: 4%;
    /*box-shadow: 2px 2px 8px 3px rgba(100,100,100,.2);*/
}
.serveul .serveli:last-child{margin-right: 0}
.cl{
    position: absolute;
    margin-left: 25%;
    margin-top: 3%;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background: url(../image/round.png) no-repeat 0px 0px;
    background-size: cover;
    /* border-radius: 90px; */
    clip: rect(0px,60px,120px,0px);
    transition: all .5s ease-in-out 0s;
}
.cr{
    position: absolute;
    margin-left: 25%;
    margin-top: 3%;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    background: url(../image/round.png) no-repeat 0 0;
    background-size: cover;
    /* border-radius: 90px; */
    clip: rect(0px,120px,120px,60px);
    transition: all .4s ease-in-out 0s;
}
.serveli i{
    position: absolute;
    margin-top: 13%;
    display: block;
    margin-left: 33%;
    width: 32%;
    height: 0;
    padding-bottom: 30%;
    background-position: 104% 0;
    background-size: cover;
    transition: all .3s ease-in-out .3s;
}
.serveli h3 {
    font-family: SimHei;
    position: absolute;
    width: 100%;
    color: #0f0f0f;
    text-align: center;
    bottom: 10%;
}
.serveli p{
    width: 100%;
    font-size: 12px;
    text-align: center;
    position: absolute;
    transition: all .2s ease-in-out .5s;
    bottom: -3em;
    font-variant: normal;
}
/*.serveli:hover .cr{*/
    /*clip: rect(0px,120px,0px,60px);*/
/*}*/
/*.serveli:hover .cl{*/
    /*clip: rect(120px,60px,120px,0px);*/
/*}*/
.serveli:hover i{
    background-position: 0 0;
}
.serveli:hover p{
    bottom: 0%;color: #666;
}
.mar90{
    text-align: center;
    margin: 0% auto;
    /* margin-bottom: 0; */
    padding: 0 0 10% 0;
}
.titlep3{
    font-family: SimHei;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 5px;
}
.bigfont{
    font-family: SimHei;
    font-size: 1.5em;letter-spacing: 5px;
}
.aboutli{
    margin-bottom: 50px;overflow: hidden;
}
/*.aboutli h4{*/
    /*font-weight: lighter;*/
/*}*/
/*.part3 .swiper-container{*/
    /*position: absolute;*/
    /*top: 28%;*/
/*}*/
.aboutul .aboutli{
    float: left;position: relative;
    width: 18%;margin-right: 2.5%;
    padding-bottom: 4%;;
}
.aboutul .aboutli:last-child{margin-right: 0}
.bl{
    position: absolute;
    margin-left: calc(50% - 75px);
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: url(../image/round3.png) no-repeat 0px 0px;
    background-size: 150px;
    clip: rect(150px,75px,150px,0px);
    transition: all .3s ease-in-out 0s;
}
.br{
    position: absolute;
    margin-left: calc(50% - 75px);
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: url(../image/round3.png) no-repeat 0 0;
    background-size: 150px;
    clip: rect(0px,150px,0px,75px);
    /*clip: rect(0px,140px,140px,70px);*/
    transition: all .3s ease-in-out 0s;
}
.aboutli:hover .br{
    clip: rect(0px,150px,150px,75px);
    /*clip: rect(0px,140px,0px,70px);*/
}
.aboutli:hover .bl{
    clip: rect(0px,75px,150px,0px);
}
.aboutli:hover h4,.aboutli:hover p{
    color: white;
}
.aboutli:hover .zhezhao{
    top: 0;
}
.aboutli:hover i{
    background-position: 146px 0;
}
.aboutradio{
    position: absolute;margin-top: 20px;
    margin-left: calc(50% - 75px);
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    border: 4px solid rgba(211,211,211,.8);
}
.aboutli i{
    z-index: 98;
    width: 69px;
    height: 53px;
    position: absolute;
    background-position: 69px 0;
    transition: all .3s ease-in-out .4s;
    margin-top: 45px;
    margin-left: 38px;
}
.aboutli h4{
    font-size: 1.258em;
    font-family: SimHei;
    position: relative;z-index: 98;
    color: #0f0f0f;
    text-align: center;
    margin-top: 195px;
    margin-bottom: 25px;
    transition: all .3s ease-in .25s
}
.aboutli p{
    font-family: SimHei;
    position: relative;z-index: 98;
    text-align: center;
    font-size: 13px;
    color: #0f0f0f;
    transition: all .3s ease-in .25s
}
.zhezhao{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 102%;
    background: #272636;
    transition: all .3s ease-in .25s;
}
.pcover{
    width: 100%;
    background: url(../image/part4bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.pcover2{
    width: 100%;
    background: url(../image/footbg.png);
    background-size: cover;
    background-attachment: fixed;
}
.p5{
    width: 100%;
    background: #e7ecf0;
}
.p6{
    width: 100%;
    background: url(../image/footbg.jpg);
    background-size: cover;
}
.title4{
    padding-top: 20px;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-size: 35px;
}
.title4 strong{
    font-size: 1.5em;
    font-weight: lighter;
}
.littitle4{
    font-size: 26px;
    color: white;
}
.youshi{
    margin-bottom: 50px;
    /*margin-top: 3%;*/
}
.youshi li{
    position: relative;
    float: left;
    width: 50%;
    margin-top: 8%;
}
.youshi li:nth-child(2n+2){
    width: 50%;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 1em;
}
.youshi li:nth-child(2n+2) p{
    width: 21em;
}
.right{
    float: right;
}
.left{
    float: left;
}
.ysli:hover .yscover,.ysli:hover .hoveri{
    opacity: 1;
}
/*.ysli:hover{*/
    /*font-weight: bold;*/
/*}*/
.hoveri{
    opacity: 0; transition: all .8s;
}
.yscover{
    width: 100%;
    height: 0;
    opacity: 0;
    background: url(../image/layer4.png);
    background-size: cover;
    transition: all .6s;
    padding-bottom: 110%;
}
.yswrapper{
    width: 90px;
    height: 99px;
    /*width: 105px;*/
    /*height: 116px;*/
    /*float: left;*/
    display: inline-block;
    position: relative;
    /*width: 18%;*/
    /*height: 0;*/
    /*padding-bottom: 20%;*/
    background: url(../image/layer3.png);
    background-size: cover;
}
.ysli i{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 77%;
    height: 0;
    display: block;
    background-size: cover;
    padding-bottom: 75%;
}
.ystext{
    margin-top: 12px;
    margin-left: 14px;
    display: inline-block;
}
.ystext .text{
    position: relative;
    color: white;
    font-size: 26px;
    margin-bottom: 15px;
    display: block;
}
.ystext p {
    font-size: 13px;
    width: 24em;
    color: white;
}
.jb{
    position: absolute;
    top: 2px;
    font-size: 12px;
}
.part5 .title{
    padding: 2% 0;
    font-size: 26px;
    text-align: center;

}
.part5 .title strong{
    font-size: 1.5em;
    font-weight: lighter;
}
.mar80{
    width: 60%;
    margin: 1% auto;
}
.mar80 li{
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 20px 5%;
}
.mar80 li p{
    display: block;
    text-align: center;
    min-width: 4.5em;
    padding: .5em 1em;
    cursor: pointer;
    color: #007aff;
    border-radius: 5px;
    border: solid 1px #e7ecf0;
}
.mar80 li:hover a{
    border: solid 1px #007aff;
}
.zuopin .zli{
    width: 32%;
    float: left;
    position: relative;
    background:white;
    margin-right: 1.99%;
}
.zuopin .zli:last-child{
    margin-right: 0;
}
.zuopin .zli img{
    width: 100%;
}
.zpcont{
    margin-top: -4px;
    position: relative;
    padding: 1em 0 1.5em 0;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}
.real{position: relative;}
.bgblue{
    width: 100%;
    height: 2px;
    background: #0842d3;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}
.zpcont h3{
    position: relative;z-index: 10;color: #0f0f0f;
}
.zpcont p{
    position: relative;z-index: 10;
    color: #0f0f0f;
    font-size: 14px;
}
.zpadd{
     position: absolute;
     width: 100%;
     height: 0;top: 0;
    transition: all .32s;
    overflow: hidden;
     background: rgba(0,0,0,.6);
 }
.zpadd i{
    width: 44px;height: 44px;
    display: block;
    margin: 24% auto;
    background: url(../image/add.png);

}
.zuopin .zli:hover .bgblue{
    height: 100%;
}
.zuopin .zli:hover .zpcont h3{
    color: white;
}
.zuopin .zli:hover .zpcont p{
    color: white;
}
.zuopin .zli:hover .zpadd{
    height: 100%;
}
.part5{
    padding-bottom: 50px;
}
.part5 .morem,.part5 .more2,.part5 .more{
    /*position: absolute;*/
    left: 40%;
    display: block;
    width: 20%;
    text-align: center;
    height: 33px;
    line-height: 33px;
    margin: 4% auto 0 auto;;
    font-size: 16px;
    /*border: dotted 1px #00dfb9;*/
    border: solid 1px #19171c;
    border-radius: 5px;
}
.half{
    float: left;
    width: 50%;
    box-sizing: border-box;
    /* padding-left: 10%; */
    /* margin: 7% 0; */
    color: white;
    /* height: 100%; */
    /* overflow: hidden; */
}
.part6 .cd1{
    transition: all .5s ease-in-out 0s;;
    margin-left: -300%;font-size: 12px;
    position: absolute;
    top: -50px;
}
.part6 .cd2{
    transition: all .5s ease-in-out .1s;;
    margin-left: -200%;font-size: 2em;
}
.part6 .cd3{
    transition: all .5s ease-in-out .15s;;
    margin-left: -200%;
}
.part6 .cd4{
    transition: all .5s ease-in-out .2s;;
    margin-left: -200%;
}
.part6 .cd5{
    transition: all .5s ease-in-out .25s;;
    margin-left: -200%;
}
.part6 .cd6{
    transition: all .5s ease-in-out .3s;;
    margin-left: -200%;
}
.part6 .cd7{
    transition: all .5s ease-in-out .35s;;
    margin-left: -200%;
}
.part6 .cd8{
    transition: all .5s ease-in-out .4s;;
    margin-left: -200%;
}
.part6 .ct1{
    display:block;
    transition: margin-left .5s ease-in-out 0s;;
    margin-left: 150%;
}
.part6 .ct2{
    display:block;
    transition: margin-left .5s ease-in-out .1s;;
    margin-left: 150%;
}
.part6 .ct3{
    display:block;
    transition: margin-left .5s ease-in-out .15s;;
    margin-left: 150%;
}
.part6 .ct4{
    display:block;
    transition: margin-left .5s ease-in-out .2s;;
    margin-left: 150%;
}
.ct td{
    width: 100%;display:block ;
    overflow: hidden;
    zoom: 1;
}
.h2{
    /*float: right;*/
    /*transition: all .5s ease-in-out .2s;*/
    /*margin-right: -100%;*/
}
.icon{
    width: 30px;
    height: 30px; display: inline-block;margin-top:25px;
}
.half p{
    font-size: 14px;
    margin-bottom: 8px;
    height: 38px;
}
.half p i{
    float: left;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 2px;
    margin-right: 1em;
}
.part6 h2{
    font-weight: lighter;
    font-size: 16px;
    color: white;
    margin: 0 0 20px 0;
}
.part6 h1{
    text-align: center;
    margin-left: calc(50% - 1em);
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5%;
    position: absolute;
}
.part6 h1 small{
    font-size: 14px;
}
.part6 .h1{
    margin-top: calc(29% - 90px);
    /*margin-top: 14%;*/
    padding-left: 8%;
    position: relative;
}
.part6 .h2{
    margin-top: calc(29% - 250px);
    /*margin-top: 0;*/
}
.half img{
    margin-right: 50px;margin-top: 10px;
}
.half span{
    display: inline-block;
    width: 133px;
    text-align: center;
    font-size: 12px;
    margin-right: 50px;
}
.sendform{
    padding: 0 5%;
    box-sizing: border-box;
}
.sendform input,.sendform select,.sendform textarea{
    box-sizing: border-box;
    border: none;
    margin-top: 2%;
    padding: 0 1em;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    line-height: 2.5em;
    background: rgba(255,255,255,.2);
}
.sendform input{
    float: left;
    width: 47%;
    height: 3em;
    border-bottom: solid 1px #666;
}
.sendform input:first-child{
    margin-right: 2%;
}
.sendform select{
    width: 96%;
    float: left;
    height: 3em;
    border-bottom: solid 1px #666;
}
.sendform textarea {
    display: block;
    width: 96%;
    height: 13em;
    border-bottom: solid 1px #666;
}
.sendform .submit{
    height: 3.5em;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5em;
    color: white;
    width: 30%;
    float: right;
    padding: 0 1em;
    background: #00c1ff;
}
.sendform .ct4 .submit{
    margin-right: 4%;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #010b18;
}
.footer h4{
    padding: 10px;font-weight: lighter;
    color: white;text-align: center;
}
.part5 .more{
    color: rgb(107,167,246);height: 3em;line-height: 3em;
}
.part5 .more2{display: none}
.part5 .swiper-wrapper{
    padding-top: 10px;
}
.part2 .more {
    display: block;
    width: 50%;
    color: #0f0f0f;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    margin: 6% auto;
    font-size: 16px;
    border: solid 1px #19171c;
    border-radius: 5px;
}
.hover-shadow {
    display: inline-block;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hover-shadow:hover, .hover-shadow:focus, .hover-shadow:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-name: hover;
    animation-name: hover;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
/* Hover Shadow */
@-webkit-keyframes hover {
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hover {
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }

    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@-webkit-keyframes hover-shadow {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }

    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }
}

@keyframes hover-shadow {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }

    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        opacity: .4;
    }
}



@media (max-width: 980px){
    .navlogo .phonetitle,.part5 .more2{
        display: block;
    }
    .navwrapper {
        padding-top: 10px;
        display: none;
        position: fixed;
        right: 0;
        margin-right: 1px;
        margin-top: 45px;
    }
    .navnav{
        width: 3em;
        float: right;
        background: rgba(0,0,0,.5);
    }
    .navnav li{
        width: 100%;
        text-align: center;
        margin: 9px 0;
    }
    .part6 .cd1,.part5 .more,.xiabiao,.navlogo .logo,.nav .media800,.serveli p,.part6 .h2 ,.nav .navwrapper,.footer,.title2 .media800{
        display: none;
    }
    .part2, .part3, .part4, .part5, .part6{
        margin-left: 5%;
        margin-right: 5%;
    }
    .navlogo .phonetitle{
        margin: 0;font-size: 13px;color: white;
    }
    .navlogo .phonetitle strong{
        font-weight: lighter;font-size: 1.5em;
    }
    .nav{background: rgba(26,29,44,.85);height: 70px;}
    .part5 .swiper-button-next,.part5 .swiper-button-prev{display: block;}
    .navlogo{margin-left: 5%;}
    .part2 .num8{
        width: 3em;
        left: 0;
    }
    .part5 .more,.part2 .more {
        color: #00dfb9;
        height: 33px;
        line-height: 33px;

    }
    .part2 .title2{margin-left: 0;}
    .part2 .title2 span{font-size: 22px;}
    .part2 .title2 h3,.part2 .title2 h6{font-size: 8px;}
    /*.serveul .serveli:nth-child(3), .serveul .serveli:nth-child(4),*/
    .part3 .mar90 {
        width: 100%;
        padding: 5px 0;
        display: inline-block;
    }
    .part5 .more2{
        border: solid 1px #333;color: #0f0f0f;
        padding: 0 .5em;
        border-radius: 0;
        left: calc(50% - 2.5em);
        font-weight: bold;
        margin: 20px auto 0 auto;
    }
    .serveul .serveli{
        margin-right: 0;
    }
    .aboutul .aboutli {
        float: left;
        position: relative;
        width: 100%;
        margin-right: 2.5%;
        height: 80px;
        margin-bottom: 5%;
         padding-bottom: 20px;
    }
    .aboutradio {
        position: absolute;
         margin-top: 0;
         margin-left: 0;
        box-sizing: border-box;
        width: 80px;
        height: 80px;
        border-radius: 90px;
        border: 4px solid rgba(211,211,211,.5);
    }
    .aboutli i {
        top: 10px;
        left: 4px;
        z-index: 98;
        width: 56px;
        height: 40px;
        position: absolute;
        background-size: cover;
        background-position: 100% 0;
        transition: all .3s ease-in-out .4s;
        margin-top: 14px;
        margin-left: 6px;
    }
    .bl {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        width: 80px;
        height: 80px;
        background: url(../image/round3.png) no-repeat 0px 0px;
        background-size: 80px;
        clip: rect(80px,40px,80px,0px);
        transition: all .3s ease-in-out 0s;
    }
    .br {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        width: 80px;
        height: 80px;
        background: url(../image/round3.png) no-repeat 0 0;
        background-size: 80px;
        clip: rect(0px,80px,0px,40px);
        transition: all .3s ease-in-out 0s;
    }
    .aboutli h4 {
        /* display: inline-block; */
        position: absolute;
        z-index: 98;
        width: 100%;
        color: #666;
        text-align: center;
        /* margin-top: 0; */
        /* margin-bottom: 10px; */
        bottom: -10px;
        /* margin-left: 80px; */
        transition: all .3s ease-in .25s;
    }
    .aboutli p {
        display: none;
        position: relative;
        z-index: 98;
        text-align: center;
        font-size: 13px;
        margin-left: 80px;
        color: #666;
        transition: all .3s ease-in .25s;
    }
    .aboutli:hover .br{
        clip: rect(0px,80px,80px,40px);
        /*clip: rect(0px,140px,0px,70px);*/
    }
    .aboutli:hover .bl{
        clip: rect(0px,40px,80px,0px);
    }
    .aboutli:hover i {
        background-position: -4% 0;
    }
    .titlep3 {
        /*width: 70%;*/
        /* float: left; */
        /*margin-left: calc(50% - 8.5em);*/
        display: inline-block;
        line-height: 35px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
    }
    .bigfont {
         /*width: 30%;*/
        font-size: 1em;
        line-height: 35px;
        letter-spacing: 0;
        display: inline-block;
        float: right;
    }
    .youshi {
         margin-bottom: 0;
        /* margin-top: 3%; */
    }
    .youshi li {
        position: relative;
        float: left;
        width: 100%;
        /*margin-top: 8%;*/
    }
    .yswrapper {
        margin-top: 1em;
        /* float: left; */
        display: inline-block;
        position: relative;
        width: 18%;
        height: 0;
        padding-bottom: 20%;
        background: url(../image/layer3.png);
        background-size: cover;
    }
    .ysli i {
        position: absolute;
        top: 10px;
        left: 6px;
        width: 77%;
        height: 0;
        display: block;
        background-size: cover;
        padding-bottom: 75%;
    }
    .ystext {
        width: 82%;
        margin-top: 1.2em;
        box-sizing: border-box;
        padding-left: 1em;
        display: inline-block;
        margin-left: 0;
    }
    .ystext .text {
        position: relative;
        color: white;
        font-size: 14px;
         margin-bottom: 0;
        display: block;
    }
    .ystext p {
        display: inline;
        font-size: 10px;
        width: 24em;
        color: white;
    }
    .youshi li:nth-child(2n+2){
        position: relative;
        float: left;
        width: 100%;
        margin-top: 8%;
        margin-left: 0;
        padding-left: 0;
    }
    .part4 .wrapper52 {
        text-align: center;
        width: 100%;height: auto;
        margin: 0 auto;
    }
    .part5 .title {
        margin-top: -20px;
        padding: 4% 0 3% 0;
        font-size: 15px;
        text-align: center;
        height: auto;
    }
    .part5 .title strong {
        font-size: 27px;
        font-weight: lighter;
    }
    .mar80 {
        width: 100%;
         margin: 1% auto;
    }
    .mar80 li {
         padding: 0;margin: 2px auto;
    }
    .mar80 li p {
        font-size: 10px;
        padding: 2px;
    }
    .navlogo{
        width: 90%;
    }
    .zuopin .zli {
        width: 100%;margin-right: 0;
    }
    .part5 .more,.part2 .more{
        width: 5em;
        left: calc(50% - 2.5em);
    }
    .part6 h1 {
        margin-top: 1%;
    }
    .part6 .h1 {
        width: 100%;
        height: auto;
        padding-left: 5%;
        top: 30%;
        position: absolute;
    }
    .half img {
        margin: 10px 10% 10px 10%;
        float: left;
        width: 30%;
    }
    .half span {
        display: inline-block;
        width: 30%;
        text-align: center;
        font-size: 12px;
        margin: 0px 10% 0px 10%;
    }
    .macbook{width: 60%;}
    .iphone{width: 90%;font-size: 12px;}
    .swiper-pagination-clickable .swiper-pagination-bullet{
        width: 8px;height: 8px;background: black;border-radius: 90px;
    }
    .part2 .title2 h3{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        margin: 0;
    }
    .wrapper52{
        width: 100%;
        margin-top: -20px;
        text-align: center;height: auto;
    }
    .serveli h3{
        bottom: 0;
        font-size: 16px;
    }

    .part3 .swiper-container{
        padding-bottom: 40px;
        margin-top: 40px;
    }
    .part3 .swiper-button-next,.part3 .swiper-button-prev{
        display: block;
        background: none;
        bottom: .5em;
        margin: 0;
        color: darkgray;
        font-size: 2em;
        position: absolute;
    }
    .littitle4{
        font-size: 18px;
    }
    .bigtitle3{
        font-size: 3em;
    }
    .bigtitle{
        font-size: 2em;
    }
    .l2title4{
        font-size: 14px;
    }
    .nav .rightlogo{display: block;}
    .part1 .text .n8{
        font-size: 12em;
    }
    .part6 .cd2 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }
    .title4{
        font-size: 23px;
        letter-spacing:0;
        margin-bottom:0;
    }
    .part6 .cd8{
        /*float: right;*/
        /*margin-right: 8%;*/
    }
}
@media (max-width: 320px){
    .media800 ,.part4 .media800,.nav .media800,.p5 .mar80{
        display: none
    }
    .title4{
        padding-top:0;
        letter-spacing:0;
        margin-bottom:0;
    }
    .nav .rightlogo{display: block;}
    .part2, .part3, .part4, .part5, .part6{
        margin-left: 5%;
        margin-right: 5%;
    }
    .ystext,.yswrapper{
        margin-top: 0;
    }

    .swiper-pagination-clickable .swiper-pagination-bullet{
        width: 8px;height: 8px;background: black;border-radius: 90px;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
    .wrapper52{
        width: 100%;  text-align: center;    height: auto;
    }
    .macbook{width: 60%;}
    .iphone{width: 90%;font-size: 12px;}
    .part2 .title2 h3{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        margin: 0;
    }
    .part3 .swiper-button-next,.part3 .swiper-button-prev{
        display: block;
        background: none;
        bottom: .5em;
        margin: 0;
        color: darkgray;
        font-size: 2em;
        position: absolute;
    }
    .bigtitle3{
        font-size: 3em;
    }
    .bigtitle{
        font-size: 2em;
    }
    .l2title4{
        font-size: 14px;
    }
    .part5 .title strong {
        display: block;
    }

}

