* {
	padding: 0;
	margin: 0;
	font-size: 10px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
body {
	background: #f0f0f0;
}

.title {
	width: 100%;
	text-align: center;
	padding: 3% 0;
	border-bottom: 2px solid lightgray;
}

.title img {
	height: 1.8rem;
	position: absolute;
	left: 2%;
	vertical-align: middle;
}

.title h2 {
	display: inline-block;
	font-size: 1.5rem;
	text-align: center;
}

.title span {
	font-size: 1.5rem;
	position: absolute;
	right: 2%;
}
.top {
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
	height: 7.0rem;
}

.top img {
	width: 45%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
}

.top .left,.right {
	position: absolute;
	top:-30%;
	padding: 10% 0;
}
.left{
	left: 5%;
}
.right{
	right:5%;
}

.top p {
	text-align: center;
	line-height: 2rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	font-size: 1.3rem;
	color: #FFFFFF;
	margin: 15% auto;
}

.top span {
	font-size: 1.0rem;
	color: green;
}

.top .left p {
	background-color: green;
}

.top .right p {
	background-color: lightgray;
}

.top .left {
	left: 12%;
}

.top .right {
	right: 12%;
}

.middle {
	padding: 5%;
}

.middle span {
	font-size: 1.3rem;
}

.middle p {
	display: inline-block;
	font-size: 1.3rem;
}
.secrets{
	text-align: center;
}
.secrets input{
	font-size: 1.5rem;
	padding: 2%;
	width: 90%;
	margin: 5% 0;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
}
.conmit-wrap{
	margin-top: 10%;
	text-align: center;
	
}
.conmit{
	display: inline-block;
	width: 60%;
	padding: 5%;
	background: #A80227;
	border-radius: 5px;
}
