* {
	padding: 0;
	margin: 0;
	font-size: 10px;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
body {
	background: #f0f0f0;
}

.title {
	width: 100%;
	text-align: center;
	padding: 3% 0;
	border-bottom: 2px solid lightgray;
}

.title img {
	height: 1.8rem;
	position: absolute;
	left: 2%;
	vertical-align: middle;
}

.title h2 {
	display: inline-block;
	font-size: 1.5rem;
	text-align: center;
}

.title span {
	font-size: 1.5rem;
	position: absolute;
	right: 2%;
}

.top {
	width: 100%;
	background-color: #FFFFFF;
	position: relative;
	height: 7.0rem;
}

.top img {
	width: 45%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
}

.top .left,.right {
	position: absolute;
	top:-30%;
	padding: 10% 0;
}
.left{
	left: 5%;
}
.right{
	right:5%;
}

.top p {
	text-align: center;
	line-height: 2rem;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	font-size: 1.3rem;
	color: #FFFFFF;
	margin: 15% auto;
}

.top span {
	font-size: 1.0rem;
	color: green;
}

.top .left p {
	background-color: green;
}

.top .right p {
	background-color: lightgray;
}

.top .left {
	left: 12%;
}

.top .right {
	right: 12%;
}

.middle {
	padding: 5%;
}

.middle span {
	font-size: 1.3rem;
}

.middle p {
	display: inline-block;
	font-size: 1.3rem;
}

.test-num{
	margin-top: 10%;
	margin-left: 3%;
}
.test-num >input{
	width: 50%;
	padding: 3%;
	border: 1px solid #EAEAEA;
	
}
.tel-last-time,.last-time,.get-testNum,.get-test-num{
	display: inline-block;
	padding: 3.5% 2%;
	background:#C4C4C4;
	border-radius: 5px ;
	margin-left: 2%;
	color: #FFFFFF;
	width: 30%;
	text-align: center;
	font-size:1.5rem;

}
.get-testNum,.get-test-num{
	background: #8E001B;
}
.last-time span:nth-child(1){
	color:#AD394B;
}
.text-last-time span:nth-child(1){
	color:#AD394B;
}
.show{
	display: inline-block;
}
.hidden{
	display: none;
}
.next-step{
	width: 100%;
	text-align: center;
	margin-top: 10%;
}
.next{
	background: #A80227;
	text-align: center;
	padding: 3% 25%;
	border-radius: 5px;
}

.new-wrap{
	position: absolute;
	top: 13%;
	display: none;
}
