         *{
				padding: 0;
				margin: 0;
				font-size: 10px;
			}
			body{
				background: #f0f0f0;
			}
			.title{
				width: 100%;
				text-align: center;
			
				padding: 3% 0;
				border-bottom: 2px solid lightgray;
			}
			.title img{
				height: 1.8rem;
				position: absolute;
				left: 2%;
				vertical-align: middle;
			}
			.title h2{
				display: inline-block;
				font-size: 2.0rem;
				text-align: center;
			}
			ul{
				list-style: none;
				width: 100%;

			
			}
			ul li:nth-of-type(1){
				padding: 5% 5%;
					background: #FFFFFF;
			}
			ul li:nth-of-type(1) p{
				font-size: 1.6rem;
				line-height: 2.0rem;
			}
			ul li:nth-of-type(1) p:nth-of-type(2){
				margin-top: 3%;
				font-size: 1.5rem;
				line-height:3.5rem;
			
				width: 35%;
				text-align: center;
				border-radius: 4px;
				
				background-size: 20%;
				display: inline-block;
			
			}
		ul li:nth-of-type(1) p:nth-of-type(3){
				font-size: 1.5rem;
				line-height:3.5rem;
				
				width: 40%;
				text-align: center;
				border-radius: 4px;
				display: inline-block;
				margin-left: 5%;
			
			}
			ul li:nth-of-type(2){
				padding: 5% 5%;
				background: #FFFFFF;
				margin: 3% 0;
			}
			ul li:nth-of-type(2) p{
				font-size: 1.6rem;
				line-height: 2.0rem;
			}
			ul li:nth-of-type(2) p:nth-of-type(2){
				margin-top: 3%;
				font-size: 1.5rem;
				line-height:3.5rem;
				
				width: 45%;
				text-align: center;
				border-radius: 4px;
				
				background-size: 16%;
				display: inline-block;
		
			}
			ul li:nth-of-type(3){
				padding: 5% 5%;
				background: #FFFFFF;
				margin: 3% 0;
			}
			ul li:nth-of-type(3) p{
				font-size: 1.6rem;
				line-height: 2.0rem;
				padding-bottom: 5%;
			}
			ul li:nth-of-type(3) div{
				width: 1.5rem;
				height: 1.5rem;
				border: 1px solid lightgray;
				border-radius: 50%;
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
			ul li:nth-of-type(3) div p{
				width: 1.2rem;
				height: 1.2rem;
				border-radius: 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
			}
			ul li:nth-of-type(3) span{
				font-size: 1.3rem;
				margin-left: 5%;
				vertical-align: middle;
				
			}
			ul li:nth-of-type(3) input{
				margin-left: 4%;
				font-size: 1.3rem;
				padding: 2%;
				width: 70%;
				vertical-align: middle;
				/*margin-top: 10%;*/
			}
			
			
			
			ul li:nth-of-type(4){
				padding: 5% 5%;
				background: #FFFFFF;
			}
			ul li:nth-of-type(4) p{
				font-size: 1.6rem;
				line-height: 2.0rem;
			}
			ul li:nth-of-type(4) p:nth-of-type(2){
				margin-top: 3%;
				font-size: 1.5rem;
				line-height:3.5rem;
				width: 30%;
				text-align: center;
				border-radius: 4px;
				background-size: 25%;
				display: inline-block;
			}
		ul li:nth-of-type(4) p:nth-of-type(3){
				font-size: 1.5rem;
				line-height:3.5rem;
				width: 30%;
				text-align: center;
				border-radius: 4px;
				display: inline-block;
				margin-left: 5%;
		
			}
			h3{
				font-size: 1.5rem;
				line-height: 3.0rem;
			}
			ul li:nth-of-type(4) p:nth-of-type(4){
				padding-top: 5%;
			}
			.bottom{
				width: 100%;
				background: #A80227;
				text-align: center;
			    position: fixed;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    padding: 4% 0;
			}
			.bottom a{
				text-decoration: none;
				font-size: 1.5rem;
				color: #FFFFFF;
				
				display: inline-block;
			}
			#noper{
				display: none;
			}
			input{
				border: 1px solid darkgray;
			}

.check{
	background: url(../img/shoppingcar/duigou.png) no-repeat;
	background-size: 2.0rem;
	color:#A80227;
	border:1px solid #A80227 ;
	
}
.uncheck{
	border:1px solid #868685;
	color: #868685;	
	background: #FFFFFF;
}
.title-check{
	width:1rem ;
	background: #A80227;
}
.title-uncheck{
	background: #FFFFFF;
}
