/*底部*/
.footer{
	text-align: center;
	width: 100%;
	background:#F7F7F7;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #E7E7E7;
	}
.footer a{
	margin-left: 10%;
}
.footer a:nth-child(1){
	margin-left: 2%;
}
.footer a img{
	margin: 1% 0;
	width: 5%;
}
.footer> a:nth-child(3)>img{
	width: 7%;
}