         * {
				padding: 0;
				margin: 0;
				font-size: 10px;
			}
			
			body {
				background: #f0f0f0;
			}
			
			.title {
				width: 100%;
				text-align: center;
				padding: 3% 0;
				border-bottom: 2px solid lightgray;
			}
			
			.title img {
				height: 1.8rem;
				position: absolute;
				left: 2%;
				vertical-align: middle;
			}
			
			.title h2 {
				display: inline-block;
				font-size: 1.5rem;
				text-align: center;
			}
			
			ul {
				list-style: none;
				width: 100%;
				background: #f0f0f0;
				
			}
			ul li{
				width: 90%;
				margin: 3% auto;
				overflow: hidden;
				background: #FFFFFF;
				padding: 5% 2%;
			}			
			.wrap {
				width: 1.5rem;
				height: 1.5rem;
				border: 1px solid lightgray;
				border-radius: 50%;
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
			.name{
				display: inline-block;
				width: 50%;
			}
		.wrap p{
				width: 1.2rem;
				height: 1.2rem;
				border-radius: 50%;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
			}
			
			ul li p {
				font-size: 1.3rem;
				/*line-height: 2.0rem;*/
				
			}
			
			ul li p:nth-of-type(1) {
				/*font-size: 1.5rem;*/
				display: inline-block;
				vertical-align: middle;
				
				/*width: 80%;*/
			}
			ul li p:nth-of-type(2) {
	            margin-left: 7%;				
				border-bottom: 1px solid gray;
				line-height: 1.6rem;
				padding-bottom: 5%;
			}
			ul li p:nth-of-type(1) span {
				font-size: 1.5rem;
				padding: 2%;
				
			}
			
			ul li p:nth-of-type(2) span {
				font-size: 1.2rem;
				vertical-align: middle;
				border: 1px solid #A80227;
				color:#A80227;
				padding: 0.5% 1%;
                 border-radius: 3px;
			}
			.div2{
				width: 15%;
				float: right;
				padding: 1%;
				margin-top: 3%;
			}
			.div2 img{
				width:25%;
			  vertical-align: middle;
			}
			.div2 a{
				text-decoration: none;
				color: black;
				font-size: 1.3rem;
				vertical-align: middle;
			}
			ul li:nth-of-type(n+2) .per{
				display: none;
			}
			.bottom{
				width: 90%;
				background: #A80227;
		 		text-align: center;
			    position: fixed;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    padding: 3% 5%;
			}
			.bottom a{
				text-decoration: none;
				font-size: 1.5rem;
				color: #FFFFFF;
				display: inline-block;
			}
			
.check{
	width:1rem ;
	background: #A80227;
}
.uncheck{
	background: #FFFFFF;
}
.show{
	display: inline-block;
}
.hidden{
	display: none;
}