*{margin: 0;padding: 0;}
html,body{
	width: 100%;
	font-size:10px;
	background-color: #F7F7F7 ;
	
}
.storage-head{
 width: 100%;
 margin: 5% 0;	
 /*text-align: center;*/
font-size: 2rem;
}
.storage-head img{
	width: 3%;
	margin: 0 2%;
	float: left;	
}
.storage-head p{
	font-size: 2rem;
	color: #282D36;
}
.love-title{
	width:100%;
	background-color: #FFFFFF;
	margin: 6% 0;
	padding: 5%;
	font-size: 1.5rem;
	text-align: left;
	}
li >img:nth-child(1){
	width: 5%;
	vertical-align: middle;
}
li >img:nth-child(2){
	width: 20%;
	vertical-align: middle;
}
.content{
	display: inline-block;
	line-height: 100%;
}
