*{
	margin: 0;
	padding: 0;
}
html,body{
	font-size: 10px;
	background:#f9f9f9;
}
.wrap{
	overflow: hidden;
}

.header{
	padding: 1rem;
	overflow: hidden;
	position: relative;
	
	border-bottom:1px solid #dfdada;
}
.header img:first-of-type{
	height: 2rem;	
	float: left;
}
.header div{
	height: 2.5rem;	
	float: left;
	background: white;
	margin-left: 2rem;
}
.header div>img:first-child{
	width: 1.5rem;
	margin: 0.5rem;
	float: left;
}
.header div input{
	float: left;
	width: 17rem;
	height: 2rem;
	border: none;
	outline: none;
	margin-top: 1%;
}
.header div>img:last-child{
	float: right;
	width: 1.5rem;
	margin-top: 0.8rem;
}
.header span{
	float: left;
	font-size: 1.8rem;
	margin:0.5rem 0.9rem;
	color: #5c5f66;
}
.list{
	overflow: hidden;
	list-style: none;
}
.list li{
	float: left;
	width: 25%;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.8rem;
	color: #666666;
	text-align: center;
	background: white;
}
.list li:first-child{
	border-bottom: 2px solid #b91b34;
}


/*.....*/
.canping ul{
	list-style: none;
	background: white;
	position: relative;
}
.canping li{	
	width: 50%;
	float: left;
}
.canping li img{
	width:100%;
}
/*.canping li img:nth-child(even){
	width:95%;
}*/
.canping li p:nth-child(3){
	color:#9E0624 ;
}
