*{margin: 0;padding: 0;}
	html,body{
	width: 100%;
	font-size:10px;
	/*text-align: center;*/
	background: #f0f0f0;
   }
/*头部*/
.header{
	width: 100%;
	background: #ECECEC;
}
.search >a img{
	width: 3%;
	margin: 5% ;
	vertical-align:middle;
}
.input{
	display: inline-block;
	width: 70%;
	position: relative;
}
.input>input{
	width: 100%;
	font-size: 1rem;
	padding: 3% 0 3% 14%;
	border: none;
	outline: none;
	border-radius: 5px;
}
.input > img{
	width: 5%;
	position: absolute;
	vertical-align: bottom;
	top: 30%;
	left:5%;
}
/*主题内容*/
.content{
	position:relative;
}
/*导航栏*/
		.nav{
				width: 25%;			    
			}
			.nav li{
				padding: 10% ;
				font-size: 1.0rem;
				list-style: none;
				text-align: left;
				border-bottom: 1px solid #D8D2D2;
			}
.nav li:nth-child(1){
	background-color:#FFFFFF;
    border-left:3px solid #EF0000;		
}

			.nav li a{
				text-decoration: none;
				color: #313131;
			}
			 dl a:hover{
				color: #D18189;
			}
			.show{
				opacity: 1;
				}
			.hidden{
				opacity: 0;
			}			
			 .submenu{			
				width: 74%;
				position: absolute;
				left: 26%;
				top: 0;
			    background: #FFFFFF;
			}			
			dl{
				margin-left: 5%;
				border-bottom: 1px solid #D8D2D2;
			}
			dl:last-child{
				border-bottom:none;
			}
			dl a{
				text-decoration: none;
				color: #313131;
				display: inline-block;
				padding: 5%;
				color: #D8D2D2;
				font-size: 1.0rem;
			}					
			dl dd a{
				margin-left: 8%;
			}