@media screen and (max-width: 1400px){
    #nav ul li a i{margin-bottom: 0;}
}
@media screen and (max-width: 1200px){
    .ul-system li{width: 33.3333%;}
}
@media screen and (max-width: 990px){
    .index-box .col-md-8{
        margin-bottom: 30px;
    }

}
@media screen and (max-height: 760px){
    #nav ul li a i{margin-bottom: 5px;}

}
@media screen and (max-width: 700px){
    #main{height: auto;}
    #hd .ul-top li > a{overflow: hidden;}
}



@media screen and (max-width: 992px){
    /*.ul-index02 li .pad{max-width: 225px;}*/
}



@media screen and (max-width: 890px){
    #nav ul li{margin-bottom: 0;}
    #nav{position: static;width: 100%;padding-top: 5px;padding-bottom: 10px;margin-top: 70px;}
    #nav ul li{width: 33.3333%;float: left;}
    #nav i{
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7); 
        -ms-transform: scale(0.7); 
        -o-transform: scale(0.7); 
        transform: scale(0.7);
        transform-origin: 50% 50%;
        height: 44px;
        line-height: 44px;
        vertical-align: middle;
    }
    #nav *{vertical-align: middle;}
    #nav ul li a i{margin-bottom: -5px !important;}
    #nav ul li a{padding:0;}
    #contain{padding-left: 0;}
    .right-con{margin: 0 10px;}
    .ul-top{position: absolute;bottom: -70px;left: 0;width: 100%;}
    #hd{position: relative;}
    #hd .ul-top li > a{width: 100%;}
    #hd .ul-top > li {width: 20%;}
    #hd .ul-top li.dropdown > a{padding: 0;}
    #hd .ul-top li.dropdown > a .hidden-sm-only{display: none;}
    #hd .dropdown-menu{left: auto;right: 0;}
    .hdr form{float: right;}
    .hide-form input{width: 100%;margin-left: 0;}
    .show-search .hide-form{width: 50%;}
    #hd .logo{width: 70px;}
    #hd .so-icon{border-right: none !important;}

    #contain{height: 60%;}
}
    

@media screen and (max-height: 1280px){
    
}


@media screen and (max-width: 768px){
    .table-auto{width: 1024px;overflow-x: auto;}
    .ul-system li{width: 50%;}
}

@media screen and (max-width: 640px){
    .ul-index01 li{width: 50%;margin-bottom: 20px;}
    .ul-index02 li{width: 100%;}
    .ul-system li{width: 100%;}
    .ul-system li .pad{max-width: 100%;}
}

@media screen and (max-width: 480px){
    
}



